<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Mission HTML - About Full Width</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
        <link rel="stylesheet" href="stylesheets/btn.css">
                <link rel="stylesheet" href="stylesheets/bootstrap.css">
        <link rel="stylesheet" href="stylesheets/flexslider.css">
        <link rel="stylesheet" href="stylesheets/superfish.css">       
           <link rel="stylesheet" href="font/css/fontello.css">
    <link rel="stylesheet" href="stylesheets/color.css">


                 <link rel="stylesheet" href="font/css/fontello-ie7.css">

           

<link rel="stylesheet" type="text/css" href="plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/helpers/jquery.fancybox-thumbs.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/helpers/jquery.fancybox-buttons.css" media="screen" />




           <!--[if IE 7]>
    <link rel="stylesheet" href="font/css/fontello-ie7.css"><![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body class="body-dark">
    
    <div id="topbar">
        
        <div class="container clearfix">
          
            <div class="sixteen columns">
                
                  
            <nav class="mainNav">

                <ul class="nav clearfix sf-menu sf-js-enabled sf-shadow">

                    <li><a class="home" href="index.html"><i class="icon-home"></i><span>Home</span></a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="causes.html">Our Causes</a>
                    
                        <ul>
                            
                            <li><a href="causes.html">Our Causes + Sidebar</a></li>
                            <li><a href="causes-full.html">Our Causes Full Width</a></li>
                            <li><a href="causes-single.html">Our Causes Single + Sidebar</a></li>
                             <li><a href="causes-single-full.html">Our Causes Single Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    <li><a href="events.html">Events</a>
                    
                        <ul>
                            
                            <li><a href="events.html">Events + Sidebar</a></li>
                            <li><a href="events-full.html">Events Full Width</a></li>
                            <li><a href="events-single.html">Events Single + Sidebar</a></li>
                             <li><a href="events-single-full.html">Events Single Full Width</a></li>
                            
                        </ul>
                        
                    </li>
                    <li><a href="news.html">News</a>
                    
                     <ul>
                            
                            <li><a href="news.html">News + Sidebar</a></li>
                            <li><a href="news-full.html">News Full Width</a></li>
                            <li><a href="news-single.html">News Single + Sidebar</a></li>
                             <li><a href="news-single-full.html">News Single Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    <li><a href="directors.html">Directors</a>
                    
                        <ul>
                            
                            <li><a href="directors.html">Directors + Sidebar</a></li>
                            <li><a href="directors-full.html">Directors Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    
                    <li><a class="active" href="#">Elements</a>
                    
                            <ul>
                        
                                <li><a href="about.html">Page With Sidebar</a></li>
                               <li><a class="active" href="about-full.html">Full Width Page</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="modal.html">Modal & Alerts</a></li>
                                <li><a href="accordion.html">Accordion & Tabs</a></li>
                                <li><a href="typography.html">Typography</a></li>
                        
                        </ul>
                        
                    </li>

                </ul>
   
            </nav>
            
            <nav class="secondaryNav">
                
                
                    <div class="container mobileNav">
                        
                    <div class="sixteen columns mobileNavWrapper"></div>
                    
                </div>
                
                    <ul>
                    
                        <li class="donate"><a href="causes.html"><i class="icon-plus-circled"></i>donate</a></li>
                        <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
                         <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

                </ul>
                
                  <div class="topBarSearch clearfix">
                    
                    <form method="get" id="searchform">
        <!-- Search Feature -->
     <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
     <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">
    
      </form>
                    
                </div>
                
            </nav>
                
            </div>
            
        </div>
        
    </div>
    
    <header style="background: url(images/pages/1.jpg) top center no-repeat;">
        
        <div class="container">
            
            <div class="sixteen columns">
                
                <a href="index.html"><img src="images/logo.png" alt="" /></a>
                
            </div>
            
        </div>
        
    </header>
    
    <div class="pageContent">
        
        <div class="container">
            
            <div class="fourteen columns offset-by-one">
                
                <h1 class="pageTitle">about mission</h1>
                
                <p>Cras dolor turpis, fermentum eget ullamcorper facilisis, lobortis eu nisl. Sed placerat rutrum venenatis. Quisque commodo molestie est at iaculis. Sed vulputate porta augue, ac volutpat ipsum varius sed.<img class="alignright" src="images/pages/assets/1.png" alt="" /> Pellentesque ullamcorper elementum magna eget imperdiet. Nam et elit purus, vel sodales leo. </p>
            
                <p>Mauris tristique est quis ligula vestibulum laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut est felis, porttitor elementum ipsum. Vestibulum quis lobortis leo. Vestibulum nisi orci, malesuada ac pretium quis, elementum at elit. Aenean id velit nisl. Praesent mattis nulla convallis lectus semper vestibulum. Proin sodales ligula quis justo porta varius.</p>
                <p>Aliquam erat volutpat. Aenean sagittis dui vestibulum quam accumsan viverra. Mauris velit dolor, posuere non tempor eu, faucibus commodo purus. Nulla facilisi. Cras ornare purus iaculis tortor semper facilisis. </p>
                
            </div>
        
            
        </div>
        
    </div>
    
    <footer>
        
        <div class="container">
            
            <div class="one-third column">
                
                <a href="index.html"><img style="margin-bottom: 20px;" src="images/footerLogo.png" alt="" /></a>
                <p>While the exact location isn’t explicitely listed, further digging reveals that its first retail stores in Turkey and Brazil will be.</p>
                                
            </div>
            
            <div class="one-third column">
                
                <h3>FROM FLICKR</h3>
                
                    <ul class="flickrImg">
                    
                        <li><a href="#"><img src="images/flickr/1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/8.jpg" alt="" /></a></li>
                    
                </ul>
                
            </div>
            
            <div class="one-third column">
                
                <h3>informations</h3>
                
                    <ul class="informations">
                      
                        <li><h3>ADRESS</h3><span>5841 Bd Henri Bourassa, Montréal-Nord, QC <br>H1G 2V1</span></li>
                        <li><h3>TELEPHONE</h3><span>(800) 412 0923</span></li>
                        <li><h3>E-MAIL</h3><span><a href="#">info@missiontheme.com</a></span></li>
                      
                </ul>
                
            </div>
            
        </div>
        
    </footer>
    
    <div class="smallFooter">
        
        <div class="container clearfix">
      
            <div class="sixteen columns">
                
                                   
        <ul class="smallFooterLeft">
                    
                        <li class="donate"><a href="causes.html"><i class="icon-plus-circled"></i>donate</a></li>
                        <li class="mail"><a href="#"><i class="icon-mail"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>

                </ul>
        
        <div class="smallFooterRight">
            
            <span>COPYRIGHT ©MISSION 2012. ALL RIGHTS RESERVED.</span>
            
        </div>
                
            </div>
            
        </div>
        
    </div>
    
    
<!-- include jQuery -->
<script src="javascript/jquery-1.8.0.min.js"></script>
<!-- Include the plug-in -->
<script src="javascript/script.js"></script>
<script src="javascript/bootstrap.js"></script>
<script src="javascript/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="javascript/superfish.js"></script>
<script type="text/javascript" src="javascript/hoverIntent.js"></script>


<!-- jQuery PORTFOLIO   -->
	<script type="text/javascript" src="plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="plugin/js/jquery.themepunch.megafoliopro.min.js"></script>
    
 <!-- Add fancyBox -->

	<script type="text/javascript" src="plugin/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->

	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>


	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        

</body>
</html>