<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Mission HTML - Mission Elements / Gallery</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
        <link rel="stylesheet" href="stylesheets/btn.css">
                <link rel="stylesheet" href="stylesheets/bootstrap.css">
        <link rel="stylesheet" href="stylesheets/flexslider.css">
        <link rel="stylesheet" href="stylesheets/superfish.css">       
           <link rel="stylesheet" href="font/css/fontello.css">
    <link rel="stylesheet" href="stylesheets/color.css">


                 <link rel="stylesheet" href="font/css/fontello-ie7.css">

           

<link rel="stylesheet" type="text/css" href="plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/helpers/jquery.fancybox-thumbs.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/helpers/jquery.fancybox-buttons.css" media="screen" />




           <!--[if IE 7]>
    <link rel="stylesheet" href="font/css/fontello-ie7.css"><![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body class="body-dark">
    
    <div id="topbar">
        
        <div class="container clearfix">
          
            <div class="sixteen columns">
                
                  
            <nav class="mainNav">

                <ul class="nav clearfix sf-menu sf-js-enabled sf-shadow">

                    <li><a class="home" href="index.html"><i class="icon-home"></i><span>Home</span></a></li>
                      <li><a class="active" href="gallery.html">Gallery</a></li>
                    <li><a href="causes.html">Our Causes</a>
                    
                        <ul>
                            
                            <li><a href="causes.html">Our Causes + Sidebar</a></li>
                            <li><a href="causes-full.html">Our Causes Full Width</a></li>
                            <li><a href="causes-single.html">Our Causes Single + Sidebar</a></li>
                             <li><a href="causes-single-full.html">Our Causes Single Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    <li><a href="events.html">Events</a>
                    
                        <ul>
                            
                            <li><a href="events.html">Events + Sidebar</a></li>
                            <li><a href="events-full.html">Events Full Width</a></li>
                            <li><a href="events-single.html">Events Single + Sidebar</a></li>
                             <li><a href="events-single-full.html">Events Single Full Width</a></li>
                            
                        </ul>
                        
                    </li>
                    <li><a href="news.html">News</a>
                    
                     <ul>
                            
                            <li><a href="news.html">News + Sidebar</a></li>
                            <li><a href="news-full.html">News Full Width</a></li>
                            <li><a href="news-single.html">News Single + Sidebar</a></li>
                             <li><a href="news-single-full.html">News Single Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    <li><a href="directors.html">Directors</a>
                    
                        <ul>
                            
                            <li><a href="directors.html">Directors + Sidebar</a></li>
                            <li><a href="directors-full.html">Directors Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    
                    <li><a href="#">Elements</a>
                    
                            <ul>
                        
                                <li><a href="about.html">Page With Sidebar</a></li>
                               <li><a href="about-full.html">Full Width Page</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="modal.html">Modal & Alerts</a></li>
                                <li><a href="accordion.html">Accordion & Tabs</a></li>
                                <li><a href="typography.html">Typography</a></li>
                        
                        </ul>
                        
                    </li>

                </ul>
   
            </nav>
            
            <nav class="secondaryNav">
                
                
                    <div class="container mobileNav">
                        
                    <div class="sixteen columns mobileNavWrapper"></div>
                    
                </div>
                
                    <ul>
                    
                        <li class="donate"><a href="causes.html"><i class="icon-plus-circled"></i>donate</a></li>
                        <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
                         <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

                </ul>
                
                  <div class="topBarSearch clearfix">
                    
                    <form method="get" id="searchform">
        <!-- Search Feature -->
     <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
     <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">
    
      </form>
                    
                </div>
                
            </nav>
                
            </div>
            
        </div>
        
    </div>
    
    <header style="background: url(images/pages/8.jpg) top center no-repeat;">
        
        <div class="container">
            
            <div class="sixteen columns">
                
                <a href="index.html"><img src="images/logo.png" alt="" /></a>
                
            </div>
            
        </div>
        
    </header>
    
    <div class="pageContent">
        
        <div class="container">
            
            <div class="fourteen columns offset-by-one">
   
                
                <h1 class="pageTitle">GALLERY / MEGAFOLIO</h1>

  
                <p>Megafolio is really easy to use. Change the options below to see what you can do with Megafolio and create the perfect portfolio/gallery.</p>
                
	<div class="switcher">
				
				<span>Special Grids</span>
				<button class="order" data-order="[9]">9</button><button class="order" data-order="[8]">8</button><button class="order" data-order="[7]">7</button><button class="order" data-order="[6]">6</button><button class="order" data-order="[5]">5</button><button class="order" data-order="[4]">4</button><button class="order" data-order="[3]">3</button><button class="order" data-order="[2]">2</button>

				<span>Basic Grids</span>
				<button class="order" data-order="[13]">6</button>
				<button class="order" data-order="[12]">5</button>
				<button class="order" data-order="[11]">4</button>
				<button class="order" data-order="[10]">3</button>

				<span>Different Height Grids</span>
				<button class="order" data-order="[17]">6</button>
				<button class="order" data-order="[16]">5</button>
				<button class="order" data-order="[15]">4</button>
				<button class="order" data-order="[14]">3</button>
				<div style="height:10px;width:100%"></div>
				
				<span>Paddings</span>
				<input id="ph" class="pad" style="width:50px" type="number" value="5"/>
				<input id="pv" class="pad" style="width:50px" type="number" value="5"/>
	</div>
                
                
                <div class="filters">
                    
                    <span>CATEGORIES</span>
                    
				<a href="#" class="filter" data-category="cat-all">All</a>
                                <a href="#" class="filter" data-category="cat-one">Category One</a>
                                <a href="#" class="filter" data-category="cat-two">Category Two</a>
                                 <a href="#" class="filter" data-category="cat-three">Category Three</a>
                                <a href="#" class="filter" data-category="cat-four">Category Four</a>
                                 <a href="#" class="filter" data-category="cat-five">Category Five</a>
                         
				<div style="height:10px;width:100%"></div>

                                
                </div>
                

                
                	<div class="galleryContainer">


				<!-- The GRID System -->
				<div class="megafolio-container">
						<div class="entry cat-one cat-two cat-all" data-src="images/gallery/big1.jpg" data-width="504" data-height="400">

								<div class="mega-hover">
										<div class="mega-hovertitle">BIG ELEPHANT<div class="subtitle">NATURE IMAGE</div></div>
										
                                                                                <a href="causes-single.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big1.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>

								</div>

							
						</div>
						<div class="entry cat-one cat-two cat-all" data-src="images/gallery/big2.jpg" data-width="383" data-height="400"><div class="mega-hover"></div>
							<div class="mega-hover">
										<div class="mega-hovertitle">CHILD PLAYING<div class="subtitle">A SUBTITLE </div></div>
									
										 <a href="about.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big2.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>

								</div>
						</div>
						<div class="entry cat-three cat-four cat-all" data-src="images/gallery/big3.jpg" data-width="556" data-height="400"><div class="mega-hover"></div>
							<div class="mega-hover">
										<div class="mega-hovertitle">OUR TEAM<div class="subtitle">A SUBTITLE</div></div>
									
										  <a href="directors.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big3.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>


								</div>
						</div>
                                    
                                    <div class="entry cat-five cat-four cat-all" data-src="images/gallery/big4.jpg" data-width="556" data-height="400"><div class="mega-hover"></div>
							<div class="mega-hover">
										<div class="mega-hovertitle">Aurore Boréale<div class="subtitle">A SUBTITLE</div></div>
									
										  <a href="events-single.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big4.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>


								</div>
						</div>
                                    <div class="entry cat-one cat-all" data-src="images/gallery/big5.jpg" data-width="556" data-height="400"><div class="mega-hover"></div>
								<div class="mega-hover">
										<div class="mega-hovertitle">Baby Smiling<div class="subtitle">A SUBTITLE</div></div>
									
										  <a href="causes.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big5.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>


								</div>
						</div>
                                    	<div class="entry cat-one cat-two cat-all" data-src="images/gallery/big6.jpg" data-width="383" data-height="400"><div class="mega-hover"></div>
							<div class="mega-hover">
										<div class="mega-hovertitle">Another Image<div class="subtitle">A SUBTITLE</div></div>
									
										  <a href="causes.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big6.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>


								</div>
						</div>
						<div class="entry cat-three cat-four cat-all" data-src="images/gallery/big7.jpg" data-width="556" data-height="400"><div class="mega-hover"></div>
							<div class="mega-hover">
										<div class="mega-hovertitle">Feet In Sand<div class="subtitle">A SUBTITLE</div></div>
									
										  <a href="causes.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big7.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>


								</div>
						</div>
                                    
                                    <div class="entry cat-five cat-four cat-all" data-src="images/gallery/big8.jpg" data-width="556" data-height="400"><div class="mega-hover"></div>
							<div class="mega-hover">
										<div class="mega-hovertitle">Red Panda<div class="subtitle">A SUBTITLE</div></div>
									
										  <a href="causes.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big8.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>


								</div>
						</div>
                                    <div class="entry cat-one cat-all" data-src="images/gallery/big9.jpg" data-width="556" data-height="400"><div class="mega-hover"></div>
							<div class="mega-hover">
										<div class="mega-hovertitle">Fitness Stretch<div class="subtitle">A SUBTITLE</div></div>
									
										  <a href="causes.html"><div class="mega-hoverlink"><i class="icon-forward"></i></div></a>
										<a class="fancybox" rel="group" href="images/gallery/big9.jpg"><div class="mega-hoverview"><i class="icon-search"></i></div></a>


								</div>
						</div>
                                    
                                    
						

				</div>
	</div>
                
          


                
                
            </div>
        
            
        </div>
        
    </div>
    
    <footer>
        
        <div class="container">
            
            <div class="one-third column">
                
                <a href="index.html"><img style="margin-bottom: 20px;" src="images/footerLogo.png" alt="" /></a>
                <p>While the exact location isn’t explicitely listed, further digging reveals that its first retail stores in Turkey and Brazil will be.</p>
                                
            </div>
            
            <div class="one-third column">
                
                <h3>FROM FLICKR</h3>
                
                    <ul class="flickrImg">
                    
                        <li><a href="#"><img src="images/flickr/1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/8.jpg" alt="" /></a></li>
                    
                </ul>
                
            </div>
            
            <div class="one-third column">
                
                <h3>informations</h3>
                
                    <ul class="informations">
                      
                        <li><h3>ADRESS</h3><span>5841 Bd Henri Bourassa, Montréal-Nord, QC <br>H1G 2V1</span></li>
                        <li><h3>TELEPHONE</h3><span>(800) 412 0923</span></li>
                        <li><h3>E-MAIL</h3><span><a href="#">info@missiontheme.com</a></span></li>
                      
                </ul>
                
            </div>
            
        </div>
        
    </footer>
    
    <div class="smallFooter">
        
        <div class="container clearfix">
      
            <div class="sixteen columns">
                
                                   
        <ul class="smallFooterLeft">
                    
                        <li class="donate"><a href="causes.html"><i class="icon-plus-circled"></i>donate</a></li>
                        <li class="mail"><a href="#"><i class="icon-mail"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
 

                </ul>
        
        <div class="smallFooterRight">
            
            <span>COPYRIGHT ©MISSION 2012. ALL RIGHTS RESERVED.</span>
            
        </div>
                
            </div>
            
        </div>
        
    </div>
    
    
<!-- include jQuery -->
<script src="javascript/jquery-1.8.0.min.js"></script>
<!-- Include the plug-in -->
<script src="javascript/script.js"></script>
<script src="javascript/bootstrap.js"></script>
<script src="javascript/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="javascript/superfish.js"></script>
<script type="text/javascript" src="javascript/hoverIntent.js"></script>


<!-- jQuery PORTFOLIO   -->
	<script type="text/javascript" src="plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="plugin/js/jquery.themepunch.megafoliopro.min.js"></script>
    
 <!-- Add fancyBox -->

	<script type="text/javascript" src="plugin/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->

	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>


	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        

</body>
</html>