{% extends 'upstream/base.html' %}

{% block page_title %}Upstream-Analytics.com{% endblock %}
{% block additional_meta_description %}Upstream Analytics, a dashboard for measuring corporate compliance.{% endblock %}
{% block additional_meta_keywords %}africa, analytics, upstream, data, real-time, dodd frank{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
	<h4>About Upstream Analytics</h4>
    <p>Upstream Analytics aims to completely change the way companies conduct due diligence and ensure compliance. We apply crowdsourcing, statistical analysis, and innovative data collection methods to assess and mitigate risk in frontier markets.</p>
</div>
{% endblock %}
