{% extends 'upstream/base.html' %}

{% block page_title %}Upstream-Analytics.com{% endblock %}
{% block additional_meta_description %}Upstream Analytics, a dashboard for measuring corporate compliance.{% endblock %}
{% block additional_meta_keywords %}africa, analytics, upstream, data, real-time, dodd frank{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div id="section_one" class="clearfix fill_width">
        <div id="floating_promo_box" class="corner">
        </div>
    </div>
    <div id="section_two" class="clearfix fill_width">
	{% include 'upstream/shared/footer_nav.html' %}
    </div>	
{% endblock %}