{% extends 'upstream/base.html' %}

{% block page_title %}Upstream-Analytics.com | Solutions{% endblock %}
{% block additional_meta_description %}Upstream Analytics, a dashboard for measuring corporate compliance.{% endblock %}
{% block additional_meta_keywords %}africa, analytics, upstream, data, real-time, dodd frank{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
	<p>Upstream Analytics offers powerful solutions for working in frontier markets</p>
</div>	
<div id="solutions" class="clearfix fill_width">
<div id="solutions_feature_container">
<div class="feature">
		<div class="icon_box">
                <i class="icon-globe icon-8x"></i>
        </div>
		<h4>Real-Time Data</h4><br/>
		<p>Upstream combines crowdsourcing with other data collection methods to offer an always up-to-date dataset.</p>
</div>
<div class="feature">
		<div class="icon_box">
                <i class="icon-bar-chart icon-8x"></i>
        </div>
		<h4>Analytics</h4><br/>
		<p>Sophisticated analysis turn raw data into meaningful summaries and visualizations.</p>
</div>
<div class="feature">
		<div class="icon_box">
                <i class="icon-book icon-8x"></i>
        </div>
		<h4>Custom Reporting</h4><br/>
		<p>Our custom reporting features allow users to automate compliance and due diligence.</p>
</div>
</div>
</div>
{% endblock %}
