{% extends 'gos/base.html' %}

{% block page_title %}Gos Fellowship{% endblock %}
{% block additional_meta_description %}The Gos Fellowship helps minority students under the age of 20 by offering them guidance and other resources to pursue STEM projects, scientific research, and social entrepreneurship.{% endblock %}
{% block additional_meta_keywords %}fellowship, technology, STEM, education, entrepreneurship{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}

        <nav class="secondaryNav">


                <div class="container mobileNav">

                <div class="sixteen columns mobileNavWrapper"></div>

            </div>

            <ul>

                <li class="donate"><a href="#"><i class="icon-plus-circled"></i>apply!</a></li>
                <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/abayima"><i class="icon-twitter"></i></a></li>
                <li class="facebook"><a href="http://facebook.com/abayima"><i class="icon-facebook"></i></a></li>
                 <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

        	</ul>
              <div class="topBarSearch clearfix">

                <form method="get" id="searchform">
    <!-- Search Feature -->
 <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
 <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">

  </form>

            </div>

        </nav>

        </div>

    </div>

</div>

<header style="background: url(../static/images/gos/slider/1-study.jpg) top center no-repeat;">
    
    <div class="container">
        
        <div class="sixteen columns">
            
            
        </div>
        
    </div>
    
</header>

	<div class="pageContent">
        
        <div class="container">
            
            <div class="nine columns offset-by-one">
                
                <h1 class="pageTitle">The Gos Fellowship</h1>
                
				<p>The Gos Fellowship aims to expose minority youth to alternative opportunities for advancement prior to college, so that they are better equipped to make education, employment, and entrepreneurial choices in the future. We hope to help foster the a generation of responsible global citizens regardless of the career path they choose.</p>
	
				<p>One of the primary challenges facing minority communities is the distinct lack of awareness of opportunity from an early age. As we know, the decisions and opportunities we have from the earliest of ages can dramatically define our futures. The Gos program is designed to help introduce minority youth to areas that aren’t explored in school, particularly in underserved communities.</p>
				
				<p>We feel that by simply introducing students to a wider network and by offering them real-world experience in exciting areas usually reserved for college students, we can help them become more competent and confident in their career choices.  This early exposure alone can make all the difference.</p>
            
                <p>The founder, Jon Gosier, is a serial entrepreneur, inventor, investor and philanthropist that has been involved in a number of projects around the globe. He’s the founder and CEO of international design firm D8A. Prior to that he founded Appfrica, an organization that helps multinational technology firms do business in Africa. He is a TED Fellow and has helped to create a number of very influential technology solutions including Ushahidi, QuestionBox, MetaLayer and Upstream Analytics.</p>

<p>He credits his love of technology to his own early exposure to opportunities and designed this program as a way to hopefully do the same for others. Read more <a href="http://wikipedia.org/wiki/Jon_Gosier">about Jon on Wikipedia</a>.</p>
  </div>
            
            <ul class="sidebar four columns offset-by-one clearfix">
                
                <li class="widget">
            
                    <div class="widget_text">
                        

                        
					</div>
                    
                </li>

            </ul>
            
        </div>
        
    </div>

{% endblock %}