{% extends 'gos/base.html' %}

{% block page_title %}Gos Fellowship{% endblock %}
{% block additional_meta_description %}The Gos Fellowship helps minority students under the age of 20 by offering them guidance and other resources to pursue STEM projects, scientific research, and social entrepreneurship.{% endblock %}
{% block additional_meta_keywords %}fellowship, technology, STEM, education, entrepreneurship{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}

{% include 'gos/shared/top.html' %}

        </div>

    </div>

</div>

<div class="sliderWrapper">

    <div id="slider" class="flexslider"><div class="sliderLogo"></div>


        <ul class="slides">

            <li>

                <img alt="" src="/static/images/gos/slider/1-study.jpg" />

                <div class="flex-holder">

                    <div class="flex-caption">

                        <div>
							<br /><br />
							<h1 style="background: #c0ccd9;">THE GOS FELLOWSHIP</h1>
                            <h1 style="background: #c0ccd9;">FOR MINORITY STUDENTS</h1>

                            <span class="flex-caption-decription">Offering guidance and funding to black and latino students pursuing STEM and social entrepreneurship projects.</span>

                        </div>

                    </div>

                </div>

            </li>

        </ul>

    </div>

</div>





</div>

{% endblock %}