{% extends 'abayima/base.html' %}

{% block page_title %}Abayima.com | About Us{% endblock %}
{% block additional_meta_description %}Abayima is a non-profit organization that works to support open access to information for people, around the globe with a particular focus on North and Sub-Saharan Africa.{% endblock %}
{% block additional_meta_keywords %}open data, technology, information, Africa, north Africa{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}

        <nav class="secondaryNav">


                <div class="container mobileNav">

                <div class="sixteen columns mobileNavWrapper"></div>

            </div>

            <ul>

                <li class="donate"><a href="/donate"><i class="icon-plus-circled"></i>donate</a></li>
                <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/abayima"><i class="icon-twitter"></i></a></li>
                <li class="facebook"><a href="http://facebook.com/abayima"><i class="icon-facebook"></i></a></li>
                 <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

        	</ul>
              <div class="topBarSearch clearfix">

                <form method="get" id="searchform">
    <!-- Search Feature -->
 <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
 <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">

  </form>

            </div>

        </nav>

        </div>

    </div>

</div>

<header style="background: url(../static/images/abayima/slider/3-syria.jpg) top center no-repeat;">
    
    <div class="container">
        
        <div class="sixteen columns">
            
            <a href="index.html"><img src="../static/images/abayima/logo.png" alt="" /></a>
            
        </div>
        
    </div>
    
</header>

	<div class="pageContent">
        
        <div class="container">
            
            <div class="nine columns offset-by-one">
                
                <h1 class="pageTitle">about abayima</h1>
                
                <img class="alignright" src="../static/images/abayima/pages/assets/1.png" alt="" /><p>Abayima is a non-profit <em>(501c3 status pending)</em> organization that works to support open access to information for citizens in North and Sub-Saharan Africa. Our mission is to support the advancement of access to technology for the poor.</p>
	
	<p>We're an NGO working in a number of areas: human rights and disaster response, access to information, open governance and news dissemination.</p>
            
                <p>Abayima is the non-profit sister company to <a href="http://appfrica.com">Appfrica</a>, a social enterprise founded in 2008 in Kampala, Uganda which helps the world's leading multi-national organizations and technology firms enter African markets while working to expand Africa's own technology sector. Abayima was established to </p>
  </div>
            
            <ul class="sidebar four columns offset-by-one clearfix">
                
                <li class="widget">
            
                    <div class="widget_text">
                        
                        <h3>WHAT DOES IT MEAN?</h3>			
                        <div class="textwidget">
                            
                            <p><strong>abayima (n)</strong> pron <strong>ah &middot; bah &middot; yee &middot; mah</strong> is a Luganda word which translates to 'guardians'</p>
                        </div>
                        
					</div>
					<div class="widget_text">
                        
                        <h3>MORE LINKS</h3>			
                        <div class="textwidget">
                            
						<ul>
                        <li><a href="/team">Team</a></li>
						<li><a href="/partners">Partners</a></li>
						<li><a href="/press">Press</a></li>
						<li><a href="/faq">FAQ</a></li>
						</ul>
						
                        </div>
                        
					</div>
                    
                </li>

            </ul>
            
        </div>
        
    </div>

{% endblock %}