{% extends 'abayima/base.html' %}

{% block page_title %}Abayima.com | History{% endblock %}
{% block additional_meta_description %}Abayima is a non-profit organization that provides technology solutions for protecting human rights and free speech around the globe.{% endblock %}
{% block additional_meta_keywords %}open data, liberation technology, journalism, oppression, disruption, communication{% endblock %}

{% block body_class %}history{% endblock %}

{% block content %}

        <nav class="secondaryNav">


                <div class="container mobileNav">

                <div class="sixteen columns mobileNavWrapper"></div>

            </div>

            <ul>

                <li class="donate"><a href="/donate"><i class="icon-plus-circled"></i>donate</a></li>
                <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/abayima"><i class="icon-twitter"></i></a></li>
                <li class="facebook"><a href="http://facebook.com/abayima"><i class="icon-facebook"></i></a></li>
                 <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

        	</ul>

              <div class="topBarSearch clearfix">

                <form method="get" id="searchform">
    <!-- Search Feature -->
 <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
 <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">

  </form>

            </div>

        </nav>

        </div>

    </div>

</div>

<header style="background: url(../static/images/abayima/slider/4-uganda.jpg) top center no-repeat;">
    
    <div class="container">
        
        <div class="sixteen columns">
            
            <a href="index.html"><img src="../static/images/abayima/logo.png" alt="" /></a>
            
        </div>
        
    </div>
    
</header>

	<div class="pageContent full">
        
        <div class="container">
            
            <div class="fourteen columns offset-by-one">
                
                <h1 class="pageTitle">A Brief History of Abayima</h1>
                
                    <ul>
                        
                      <li class="dd_news_post">
                        
                        <div class="postTitle">
<img class="alignright" src="../static/images/abayima/pages/assets/uganda.jpg" alt="" /><p>Abayima began with a 2011 election monitoring project that applied cold war tactics to mobile data storage and distribution using technology like the open source platform <strong><a href="http://simkit.co">SIM Kit</a></strong>. The project was carried out during the 2011 Uganda elections where the sitting government administration used its powers to coerce mobile telecos to let them data-mine all SMS content passing through their networks. The administration was then able to send targeted messages of intimidation to activists and journalists who expressed concern over the validity of the election.</p>
<p>It was this level of intimidation and political schadenfreude that lead Abayima founder <strong><a href="http://jongosier.com">Jon Gosier</a></strong> to scale the project to other parts of the world. Telecom infrastructure is increasingly targeted by malicious state actors for the purpose of oppressing citizen voices. Recent events in Egypt, Syria, and Libya are but a few examples that have played out on the world stage.  To ensure that average citizens, journalists and activists remain resilient inspite of similar attacks, Abayima aims to be there to help them.</p>
<p>Funding for the Abayima 2011 pilot was generously provided by <strong><a href="http://simkit.co">IndigoTrust</a></strong>. Abayima was later incubated by <strong><a href="http://appfrica.com">Appfrica</a></strong> before spinning off as a non-profit organization in 2012.</p>
                            
                        </div>
                          
                
                  <!-- <ul class="pagination">
                    
                    <li><a class="button-small-theme rounded3" href="#">1</a></li>
                    <li><a class="button-small grey rounded3" href="#">2</a></li>
                    <li><a class="button-small grey rounded3" href="#">3</a></li>
                    <li><a class="button-small grey rounded3" href="#">4</a></li>
                    <li><a class="button-small grey rounded3" href="#">5</a></li>

                </ul> -->
           
            </div>
                  
        </div>
        
    </div>

{% endblock %}