{% extends 'abayima/base.html' %}

{% block page_title %}Abayima.com | Using Technology to Protect Citizen Voices{% endblock %}
{% block additional_meta_description %}Abayima is a non-profit organization that provides technology solutions for protecting human rights and free speech around the globe.{% endblock %}
{% block additional_meta_keywords %}open data, liberation technology, journalism, oppression, disruption, communication{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}

        <nav class="secondaryNav">

                <div class="container mobileNav">

                <div class="sixteen columns mobileNavWrapper"></div>

            </div>

                <ul>

                    <li class="donate"><a href="/donate"><i class="icon-plus-circled"></i>donate</a></li>
                    <li class="mail"><a href="/contact"><i class="icon-mail"></i></a></li>
                    <li class="twitter"><a href="http://twitter.com/abayima"><i class="icon-twitter"></i></a></li>
                    <li class="facebook"><a href="http://facebook.com/abayima"><i class="icon-facebook"></i></a></li>
                     <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

            </ul>

              <div class="topBarSearch clearfix">

                <form method="get" id="searchform">
    <!-- Search Feature -->
 <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
 <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">

  </form>

            </div>

        </nav>

        </div>

    </div>

</div>

<div class="sliderWrapper">

    <div id="slider" class="flexslider"><div class="sliderLogo"><a href="#"><img src="/static/images/abayima/logo.png" alt="" /></a></div>


        <ul class="slides">

            <li>

                <img alt="" src="/static/images/abayima/slider/3-syria.jpg" />

                <div class="flex-holder">

                    <div class="flex-caption">

                        <div>

                          <h1 style="background: #F5F219;">ABAYIMA</h1>
                            <h1 style="background: #F5F219;">TECHNOLOGY FOR DEVELOPMENT</h1>

                            <span class="flex-caption-decription">Our mission is to support the advancement of access to technology for citizens in developing countries and the poor.</span>	


                            <ul class="caption-btn">

                                <li><a href="/about">LEARN MORE &rarr;</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </li>

            <li>

                <img alt="" src="/static/images/abayima/slider/2-turkey.jpg" />

                      <div class="flex-holder">

                    <div class="flex-caption">

                        <div>

                           <a href="/resources"><h1 style="background: #00ac26; color: #fff;">LIBERATION TECHNOLOGY</h1>
                            <h1 style="background: #00ac26; color: #fff;">FOR ACTIVISTS AND JOURNALISTS</h1></a>

                            <span class="flex-caption-decription">

                           We work in various areas of human rights and justice to ensure that where technology is a solution, its affordable and accessible to all.

                            </span>	


                            <ul class="caption-btn">

                                <li><a href="#">LEARN MORE &rarr;</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </li>

            <li>

                <img alt="" src="/static/images/abayima/slider/1-mobile.jpg" />

                    <div class="flex-holder">

               <div class="flex-caption">

                        <div>

                      <a href="http://opensimkit.com"><h1 style="background: #7c77be; color: #fff;">OPEN SIM KIT</h1>
                            <h1 style="background: #7c77be; color: #fff;">READ/WRITE SIM CARDS</h1></a>

                            <span class="flex-caption-decription">

                            We supported the development of Open SIM Kit, which turns the world's 4 billion feature phones into the equivalent of a cheap e-reader.

                            </span>	


                            <ul class="caption-btn">

                                <li><a href="http://opensimkit.com">DOWNLOAD OPEN SIM KIT &rarr;</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </li>

            <li>

                <img alt="" src="/static/images/abayima/slider/4-uganda.jpg" />

                     <div class="flex-holder">

                     <div class="flex-caption">

                        <div>

                      <a href="#"><h1 style="background: #be7777; color: #fff;">INFORMATION WANTS TO BE FREED</h1></a>

                            <span class="flex-caption-decription">

                            We support a number of causes related to the better understanding and use of technology in Africa.

                            </span>	


                            <ul class="caption-btn">

                                <li><a href="/community">LEARN MORE &rarr;</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </li>

        </ul>

    </div>

<div class="carouselWrapper">

    <div class="container">

        <div class="sixteen columns">

               <div id="carousel" class="flexslider">

        <ul class="slides">

            <li class="four columns">

                <img alt="" src="/static/images/abayima/slider/3-syria-220.jpg" />


            </li>

            <li class="four columns">

                <img alt="" src="/static/images/abayima/slider/2-turkey-220.jpg" />

            </li>

            <li class="four columns">

                <img alt="" src="/static/images/abayima/slider/1-mobile-220.jpg" />

            </li>

            <li class="four columns">

                <img alt="" src="/static/images/abayima/slider/4-uganda-220.jpg" />

            </li>


        </ul>

    </div>

        </div>

    </div>

</div>

</div>





</div>

{% endblock %}