{% extends 'abayima/base.html' %}

{% block page_title %}Abayima.com | Partners{% endblock %}
{% block additional_meta_description %}Abayima is a non-profit organization that provides technology solutions for protecting human rights and free speech around the globe.{% endblock %}
{% block additional_meta_keywords %}open data, liberation technology, journalism, oppression, disruption, communication{% endblock %}

{% block body_class %}partners{% endblock %}

{% block content %}

        <nav class="secondaryNav">


                <div class="container mobileNav">

                <div class="sixteen columns mobileNavWrapper"></div>

            </div>

            <ul>

                <li class="donate"><a href="/donate"><i class="icon-plus-circled"></i>donate</a></li>
                <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/abayima"><i class="icon-twitter"></i></a></li>
                <li class="facebook"><a href="http://facebook.com/abayima"><i class="icon-facebook"></i></a></li>
                 <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

        	</ul>

              <div class="topBarSearch clearfix">

                <form method="get" id="searchform">
    <!-- Search Feature -->
 <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
 <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">

  </form>

            </div>

        </nav>

        </div>

    </div>

</div>

<header style="background: url(../static/images/abayima/slider/2-turkey.jpg) top center no-repeat;">
    
    <div class="container">
        
        <div class="sixteen columns">
            
            <a href="index.html"><img src="../static/images/abayima/logo.png" alt="" /></a>
            
        </div>
        
    </div>
    
</header>

	<div class="pageContent">
        
        <div class="container">
            
            <div class="fourteen columns offset-by-one">
                
                <h1 class="pageTitle">Partners</h1>
                            
				<p><h3>Indigo Trust</h3></p>
				<p>Abayima received initial support from Indigo Trust which enabled our 2011 Ugandan Election Pilot.</p>
				<p>The Indigo Trust is a grant making foundation that funds technology-driven projects to bring about social change, largely in African countries. The Trust focuses mainly on innovation, transparency and citizen empowerment. We will also consider innovative projects, which utilize Information Technologies to support development outcomes in any sector including the health, education, human rights and agricultural spheres.</p>
				<p>The Indigo Trust makes grants to African projects or programs, or to organizations which operate at least partly in African countries. We believe that if people have the ability to access, share and create information, then they are empowered to make positive changes in their own lives and communities.</p>
				<p><h3>Appfrica</h3></p>
				<p>Founded in 2008 in Kampala, Uganda, Appfrica is an innovative global consultancy specializing in market research studies, custom technology solutions and investment in emerging markets.</p>
				<p>The knowledge of our team allows us to address global problems that no one else can, particularly as it relates to Africa and other emerging markets around the world.</p>
				<p><h3>Hive Colab</h3></p><p>Hive Colab is an open, collaborative, community owned, work environment for young tech entrepreneurs in Kampala, Uganda to focus on projects, access the internet, have a quiet professional environment to develop their ideas in, hold events and generally collaborate. It is a space for nascent application developers to register as freelancers. If they are looking for paying projects, they will have access to a list of projects and clients available through our network and the pan-African consortium of incubators, AfriLabs.</p>
                
            </div>
            
        </div>
        
    </div>

{% endblock %}