{% extends 'abayima/base.html' %}

{% block page_title %}Abayima.com | Press{% endblock %}
{% block additional_meta_description %}Abayima is a non-profit organization that provides technology solutions for protecting human rights and free speech around the globe.{% endblock %}
{% block additional_meta_keywords %}open data, liberation technology, journalism, oppression, disruption, communication{% endblock %}

{% block body_class %}press{% endblock %}

{% block content %}

        <nav class="secondaryNav">


                <div class="container mobileNav">

                <div class="sixteen columns mobileNavWrapper"></div>

            </div>

            <ul>

                <li class="donate"><a href="/donate"><i class="icon-plus-circled"></i>donate</a></li>
                <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/abayima"><i class="icon-twitter"></i></a></li>
                <li class="facebook"><a href="http://facebook.com/abayima"><i class="icon-facebook"></i></a></li>
                 <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

        	</ul>

              <div class="topBarSearch clearfix">

                <form method="get" id="searchform">
    <!-- Search Feature -->
 <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
 <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">

  </form>

            </div>

        </nav>

        </div>

    </div>

</div>

<header style="background: url(../static/images/abayima/slider/3-syria.jpg) top center no-repeat;">
    
    <div class="container">
        
        <div class="sixteen columns">
            
            <a href="index.html"><img src="../static/images/abayima/logo.png" alt="" /></a>
            
        </div>
        
    </div>
    
</header>

	<div class="pageContent">
        
        <div class="container">
            
            <div class="fourteen columns offset-by-one">
                
                <h1 class="pageTitle">PRESS</h1>
				<!-- Begin Item -->

				                   <h1><a href="http://www.cnn.com/2013/01/31/opinion/sutter-sim-revolutionary-abayima/index.html">The Cell Phone Revolutionary</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> CNN</a></li>
				                           <li><a href="#"><span>On</span> January 31st 2013</a></li>

				                       </ul>

				               <p>During Uganda's 2011 presidential election, when activists and poll workers tried to text criticisms of the incumbent or the evidence of polling fraud, they found their messages wouldn't go through.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://www.ictworks.org/news/2013/01/28/5-reasons-use-open-sim-kit-modify-moible-phone-sim-cards">5 Reasons to Use Open SIM Kit to Modify Mobile Phone SIM Cards</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> ICTWorks</a></li>
				                           <li><a href="#"><span>On</span> January 28th 2013</a></li>

				                       </ul>

				               <p>Any ICT4D projects that run on mobile phones, like mHealth and mEducation initiatives, rely upon the benevolence of mobile phone operators for their existence. And when it comes to "sensitive" activities, like social justice movements or social activism that may not be favored by the government, that reliance on mobile line operators represents a "single point of control" that can easily be controlled by those that oppose the activities of the users.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://www.niemanlab.org/2013/01/news-challenge-winner-abayima-takes-a-low-tech-approach-to-communicating-in-a-crisis/">News Challenge winner Abayima takes a low-tech approach to communicating in a crisis</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Nieman Journalism Lab</a></li>
				                           <li><a href="#"><span>On</span> January 24th 2013</a></li>

				                       </ul>

				               <p>Knight News Challenge winner Abayima wants to turn an ingenious hack for feature phones into a low-tech means of sharing information in unstable parts of the world. Instead of using your phone’s SIM card to hold on to your address book, Abayima would transform it into a storage drive for offline sharing. In parts of the world where the Internet is either down or monitored, Abayima would give activists, human rights workers, and journalists the ability to communicate simply by swapping SIMs.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://www.slate.com/blogs/future_tense/2013/01/22/knight_news_challenge_media_s_winning_apps.html">Winners of the Knight News Challenge: Media Focus on Education, Human Rights</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Slate</a></li>
				                           <li><a href="#"><span>On</span> January 22nd 2013</a></li>

				                       </ul>

				               <p>Most efforts to capitalize on the rapid rise of mobile platforms often focus on smartphone experiences in first-world markets. But the safe bet for your average Western tech goliath ignores where mobile development matters the most: the developing world, where phones are cheap, basic, and a valuable source of communication for millions of people for millions of people.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://techpresident.com/news/wegov/23398/abayima-makes-sim-cards-e-readers-combat-information-blackouts">Abayima Makes SIM Cards Into E-Readers to Combat Information Blackouts</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Tech President</a></li>
				                           <li><a href="#"><span>On</span> January 22nd 2013</a></li>

				                       </ul>

				               <p>Over the past decade, mobile tech has grown into a dominant force in journalism, activism, and revolution across the globe. Yet one organization is going lo-tech to get information in the hands of the people – by transforming basic cellular phones into e-readers loaded with news that might be otherwise censored by the government.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://technicallyphilly.com/2013/01/21/textizen-abayima-philly-projects-win-500k-in-knight-news-challenge-mobile">Textizen, Abayima: Philly projects win $500K in Knight News Challenge: Mobile</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Technically Philly</a></li>
				                           <li><a href="#"><span>On</span> January 21st 2013</a></li>

				                       </ul>

				               <p>Two Philadelphia projects won a total of $500,000 in the Knight News Challenge: Mobile, which announced $2.4 million in funding to eight winners last week. The Philly projects include: Textizen ($350,000), the Code for America-built text-based civic engagement tool launched in Philly last June, and Abayima ($150,000), a tool that will allow cell phone SIM cards to store news and information, from data startup Metalayer‘s founder Jon Gosier.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://worldjournalism.wordpress.com/2013/01/20/knight-foundation-issues-awards-for-mobile-info-sharing/">Knight Foundation Issues Awards for Mobile Info Sharing</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> World Journalism</a></li>
				                           <li><a href="#"><span>On</span> January 20th 2013</a></li>

				                       </ul>

				               <p>The Knight Foundation announced the eight most recent award winners of its Knight News Challenge on mobile innovation. The eight recipients will receive $2.4 million from the foundation to develop their projects.</p>
				<!-- End Item -->
				                   <h1><a href="http://blog.ted.com/2013/01/18/ted-fellow-jon-gosier-wins-knight-news-challenge-mobile-grant/">TED Fellow Jon Gosier wins Knight News Challenge Mobile grant</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> TED.com</a></li>
				                           <li><a href="#"><span>On</span> January 18th 2013</a></li>

				                       </ul>

				               <p>Congratulations is in order for TED Fellow Jon Gosier. His mobile app, Abayima, has been awarded a $150,000 grant from the Knight News Challenge, which funds innovative projects designed to get information to all corners of the globe.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://www.thnk.org/articles/jongosier-knightnewschallenge/">Jon Gosier Wins Knight News Challenge</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> THNK.org</a></li>
				                           <li><a href="#"><span>On</span> January 18th 2013</a></li>

				                       </ul>

				               <p>We are proud that for the second year in a row, THNK participant Jon Gosier‘s Abayima has won the Knight News Challenge in the mobile category. Abayima is a non-profit organization founded to support citizens when their voices are threatened in the form of attacks on communications infrastructure.</p>
				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://www.poynter.org/latest-news/mediawire/200878/knight-news-challenge-funds-photography-app-with-built-in-verification-data/">Knight News Challenge funds photography app with built-in verification data</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Poynter</a></li>
				                           <li><a href="#"><span>On</span> January 17th 2013</a></li>

				                       </ul>

				               <p>The majority of mobile phone users around the world use simple feature phones which, unlike smartphones, do not have advanced storage or secondary communication options like Wi-Fi and Bluetooth. Abayima wants to build an open source application that people can use to store information to SIM cards  – effectively turning the cards into storage devices and their mobile phones into e-readers.</p>

				<!-- End Item -->				
				<!-- Begin Item -->

				                   <h1><a href="http://venturebeat.com/2013/01/17/eight-innovators-dubbed-knights-of-mobile-media-innovation/">Eight innovators dubbed knights of mobile media innovation</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Venture Beat</a></li>
				                           <li><a href="#"><span>On</span> January 17th 2013</a></li>

				                       </ul>

				               <p>Hear ye, hear ye: The Knight Foundation named the winners of its third Knight News Challenge today. The Knight Foundation supports “transformational ideas that promote quality journalism, advance media innovation, engage communities, and foster the arts.”</p>

				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://www.niemanlab.org/2013/01/a-new-class-of-knight-news-challenge-winners-focuses-on-mobile-in-the-developing-world/">A new class of Knight News Challenge winners focuses on mobile in the developing world</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Nieman Journalism Lab</a></li>
				                           <li><a href="#"><span>On</span> January 17th 2013</a></li>

				                       </ul>

				               <p>Since smartphones don’t (yet) have the same market share in Angola and Bolivia as in Austin and Boston, many of the projects focus on bringing some of the information-navigation powers we associate with iPhones and the like to feature phones, like the old Nokias that blanket much of the world.</p>

				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://www.knightfoundation.org/press-room/press-release/eight-mobile-ventures-win-24-million-funding-knigh/">Eight mobile ventures win $2.4 million in funding via Knight News Challenge</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> Knight Foundation</a></li>
				                           <li><a href="#"><span>On</span> January 17th 2013</a></li>

				                       </ul>

				               <p>Ranging from projects that turn no-frills mobile phones into radio stations to applications that help newsrooms manage a deluge of incoming mobile content, eight media innovation ventures received a total of $2.4 million today as winners of the Knight News Challenge: Mobile.</p>

				<!-- End Item -->
				<!-- Begin Item -->

				                   <h1><a href="http://allthingsd.com/20130117/meet-the-mobile-media-projects-that-just-won-2-4-million/">Meet the Mobile Media Projects That Just Won $2.4 Million</a></h1>

				                  <ul class="metaBtn clearfix">

				                           <li><a href="#"><span>By</span> AllThingsD</a></li>
				                           <li><a href="#"><span>On</span> January 17th 2013</a></li>

				                       </ul>

				               <p>This just in from the world of news: Mobile matters.</p>

				<!-- End Item -->
<!-- Begin Item -->

                   <h1><a href="http://www.fastcoexist.com/1681223/this-app-lets-activists-pass-around-information-when-the-government-is-watching">This App Lets Activists Pass Around Information When The Government Is Watching</a></h1>

                  <ul class="metaBtn clearfix">

                           <li><a href="#"><span>By</span> FastCompany</a></li>
                           <li><a href="#"><span>On</span> January 17th 2013</a></li>

                       </ul>

               <p>During the last election in Uganda, the government suppressed text messages about voting. Abayima is a new service that helps mitigate this problem by using SIM cards as communication devices.</p>

<!-- End Item -->
<!-- Begin Item -->

                    <h1><a href="http://www.nation.co.ke/Features/smartcompany/Social-sites-change-how-media-operates-/-/1226/1382880/-/item/0/-/fge809z/-/index.html">Social Sites Change How Media Operates</a></h1>
                
                   <ul class="metaBtn clearfix">
                            
                            <li><a href="#"><span>By</span> Daily Nation</a></li>
                            <li><a href="#"><span>On</span> April 9th 2012</a></li>
                                
                        </ul>
                
                <p>The most important news is not broken by mainstream channels but by Twitter and Facebook users.</p>

<!-- End Item -->

            </div>
            
        </div>
        
    </div>

{% endblock %}