{% extends 'abayima/base.html' %}

{% block page_title %}Abayima.com | Research{% endblock %}
{% block additional_meta_description %}Abayima is a non-profit organization that provides technology solutions for protecting human rights and free speech around the globe.{% endblock %}
{% block additional_meta_keywords %}open data, liberation technology, journalism, oppression, disruption, communication{% endblock %}

{% block body_class %}research{% endblock %}

{% block content %}

        <nav class="secondaryNav">


                <div class="container mobileNav">

                <div class="sixteen columns mobileNavWrapper"></div>

            </div>

            <ul>

                <li class="donate"><a href="/donate"><i class="icon-plus-circled"></i>donate</a></li>
                <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/abayima"><i class="icon-twitter"></i></a></li>
                <li class="facebook"><a href="http://facebook.com/abayima"><i class="icon-facebook"></i></a></li>
                 <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

        	</ul>

              <div class="topBarSearch clearfix">

                <form method="get" id="searchform">
    <!-- Search Feature -->
 <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
 <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">

  </form>

            </div>

        </nav>

        </div>

    </div>

</div>

<header style="background: url(../static/images/abayima/slider/4-uganda.jpg) top center no-repeat;">
    
    <div class="container">
        
        <div class="sixteen columns">
            
            <a href="index.html"><img src="../static/images/abayima/logo.png" alt="" /></a>
            
        </div>
        
    </div>
    
</header>

	<div class="pageContent full">
        
        <div class="container">
            
            <div class="fourteen columns offset-by-one">
                
                <h1 class="pageTitle">Research & Case Studies</h1>
                
                    <ul>
                        
                      <li class="dd_news_post">
                        
                        <div class="postTitle">
                            
                            <h1><a href="https://docs.google.com/document/d/1lqBb5Pov7RDzgL0pGnpXwtW-Lon9gWM253sMjT_ZhUs/edit">Uganda Elections 2011: Abayima Pilot</a></h1>
                            
                        </div>
                        
                           <ul class="metaBtn clearfix">
                                    
                                    <li><a href="#"><span>BY</span> HIVE COLAB</a></li>
                                    <li><a href="#"><span>ON</span> MARCH 1st 2011</a></li>
                                        
                                </ul>
                        
                        <p>This document outlines a project conducted by volunteers and staff at Hive Colab in Kampala, Uganda in February of 2011. This project, dubbed internally as ‘the Abiyama project’ was established in advance of the elections to act as a line of preparedness in the event of the environment becoming unstable. Luckily, there were only minor reports of incident in disparate parts of Uganda (nothing systematic and no state of emergency was declared)...</p>
                        
                        <a class="continue" href="https://docs.google.com/document/d/1lqBb5Pov7RDzgL0pGnpXwtW-Lon9gWM253sMjT_ZhUs/edit">DOWNLOAD PAPER &rarr;</a>
                        
                    </li>
               
                </ul>    
                
                  <!-- <ul class="pagination">
                    
                    <li><a class="button-small-theme rounded3" href="#">1</a></li>
                    <li><a class="button-small grey rounded3" href="#">2</a></li>
                    <li><a class="button-small grey rounded3" href="#">3</a></li>
                    <li><a class="button-small grey rounded3" href="#">4</a></li>
                    <li><a class="button-small grey rounded3" href="#">5</a></li>

                </ul> -->
           
            </div>
                  
        </div>
        
    </div>

{% endblock %}