{% extends 'd8a/base.html' %}

{% block page_title %}D8A | The Data Group{% endblock %}
{% block page_description %}D8A Group is making the world's information easier to understand, visualize and share.{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='about' %}

    <div class="container about">
        <div id="about-team" style="min-height:300px;">
            <h1>Our award-winning team</h1>
            <div class="row">
                <div class="span9">
					<p>D8A Group (a.k.a 'the data group') builds dashboards that make it easy to surface trends and predictive patterns in public safety, municipal services, and finance to help officials make better decisions. We use maps, social media streams, news feeds, and demography data to tell the story of cities.</p>
					<p>Our products transform different public data streams into actionable insights which can be paired with existing business data. This allows our clients in public safety, crime prevention, and finance to make more informed, decisions.</p>
					<p>Our suite of predictive analytic SaaS products let users see patterns in behavior. D8A's proprietary algorithms instantly scan hundreds of millions of online conversation and activities to provide the earliest alerts about what's happening <em>(and what may happen soon)</em>. This helps users anticipate where, when, and what people need in real-time.</p>
				<p></p>
                    <div class="person clearfix">
                        <div class="image pull-left">
                            <img src="http://farm4.staticflickr.com/3706/8776805387_d875623602_b.jpg"/>
                        </div>
                        <h5>Jon Gosier, Founder & CEO (a.k.a Fearless Leader)</h5>
                        <p>Jon is the Founder of D8A. Prior to D8A he founded Appfrica and worked on data products at Ushahidi. He is a serial entrepreneur, software developer, and dataist working at the intersection of big data and human related risk.</p>
                    </div>
                    <div class="person clearfix">
                        <div class="image pull-left">
                            <img src="http://farm9.staticflickr.com/8053/8099675010_685e0c3070_c.jpg"/>
                        </div>
                        <h5>Bahiyah Robinson, Sales & Communications (a.k.a Velvet Hammer)</h5>
                        <p>Bahiyah has worked in the public sector and entrepreneurship space for over a decade, in addition to holding marketing and VIP membership management positions at the Council on Foreign Relations.</p>
                    </div>
                    <div class="person clearfix">
                        <div class="image pull-left">
                            <img src="http://ahmedmaawy.com/index.php/files/large/2b28c72b15b0b75"/>
                        </div>
                        <h5>Ahmed Maawy, Software Developer (a.k.a The Machine) </h5>
                        <p>Ahmed Maawy has spent more than 10 years developing web, mobile, and enterprise software as well as being a project manager for a number of software products and projects. He has worked with corporations and non profits alike, as well as media agencies such as Al Jazeera, Internews Europe, Ushahidi, and DataDyne.</p>
                    </div>
				<!--	<div class="person clearfix">
                        <h5>Michelle Byrd, Media & Communications Consultant</h5>
                        <p>Michelle Byrd is a veteran executive director of media-based non-profit organizations. For the past three years, she was Co-President of Games for Change, an organization using digital games to impact social change. While there she served as COO, producer of the Games for Change Festival and one of the Executive Producers of the Facebook game inspired by Nicholas Kristof and Sheryl WuDunn’s best-selling book, Half the Sky Movement: Turning Oppression Into Opportunity for Women Worldwide.</p>
                    </div> -->
                    <div class="person clearfix">
                        <h5>Matt Griffiths, Consultant & Product Specialist (a.k.a Griff)</h5>
                        <p>Matthew is a technology entrepreneur and accomplished project leader. He holds several director level positions in for and non-for profit enterprises and has a proven track record of making and executing on critical decisions that drive businesses and organizations.</p>
                    </div>
                </div>
                <div class="span3 awards">
                    <h3>D8A Awards</h3>
					<div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>Goldman Sachs 10,000 Small Businesses</h5>
                        <p>We were selected to participate in this program aimed at helping small businesses blossom.</p>
                    </div>
                    <div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>100 Most Innovative Companies</h5>
                        <p>IDEO & British Airways selected 100 of the most innovative companies in the world to participate in their UnGrounded hackathon in the sky.</p>
                    </div>
                    <div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <p><h5>Innovator of the Year 2013 (Nom- inee)</h5>
                        Black Enterprise Magazine selected our team as one of three Innovators of the Year for their Entrepreneurs Conference in 2013.</p>
                    </div>
                    <div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>Knight News Challenge 2013 (Winners)</h5>
                        <p>We have won and participating in a number of other projects that were supported by the Knight Foundation.</p>
                    </div>
					<div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>Harvard Initiative of Global Health</h5>
                        <p>In 2009 we won a grant from Harvard for a platform we were developing aimed at helping those in developing countries keep track of their medical information via mobile phone.</p>
                    </div>
					<div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>TED Conferences</h5>
                        <p>Our CEO Jon Gosier is a TED Fellow, TED Senior Fellow and has spoken at numerous TED events.</p>
                    </div>
            </div>
        </div>

        <a class="site-section-link" href="/contact">
            <i class="icon-caret-right"></i>
            <h3>Interested in our products?</h3>
            <p>CLICK HERE AND CONTACT US TODAY!</p>
        </a>

    </div>
	

{% endblock %}