{% extends 'd8a/base.html' %}

{% block page_title %}D8A | The Data Group{% endblock %}
{% block page_description %}D8A Group is making the world's information easier to understand, visualize and share.{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='about' %}

    <div class="container about">
        <div id="about-team" style="min-height:300px;">
            <div class="row">
                <div class="span9">
					<p>D8A Group (a.k.a 'the data group') specializes in bespoke software development and data-driven technologies and creative campaigns that help organizations of all types understand their audiences more effectively. We help customers of all types maximize campaign potential through creative problem solving and software development.</p>
				<p></p>
                </div>
                <div class="span3 awards">
                    <h3>D8A Awards</h3>
					<div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>Goldman Sachs 10,000 Small Businesses</h5>
                        <p>We were selected to participate in this program aimed at helping small businesses blossom.</p>
                    </div>
                    <div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>100 Most Innovative Companies</h5>
                        <p>IDEO & British Airways selected 100 of the most innovative companies in the world to participate in their UnGrounded hackathon in the sky.</p>
                    </div>
                    <div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <p><h5>Innovator of the Year 2013 (Nom- inee)</h5>
                        Black Enterprise Magazine selected our team as one of three Innovators of the Year for their Entrepreneurs Conference in 2013.</p>
                    </div>
					<div class="award clearfix">
                        <i class="icon-trophy"></i>
                        <h5>TED Conferences</h5>
                        <p>Our CEO Jon Gosier is a TED Fellow, TED Senior Fellow and has spoken at numerous TED events.</p>
                    </div>
            </div>
        </div>

        <a class="site-section-link" href="/contact">
            <i class="icon-caret-right"></i>
            <h3>Interested in our products?</h3>
            <p>CLICK HERE AND CONTACT US TODAY!</p>
        </a>

    </div>
	

{% endblock %}