{% extends 'd8a/base.html' %}

{% block page_title %}D8A - Capabilities{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='capabilities' %}

    <div class="container capabilities">
        <div class="capability-container">
			<img src="/static/images/d8a/solutions/1.jpg" />
            <h3>Data Analysis & Visualization</h3>
            <p>Let your data tell the beautiful stories within through visualization. Our allow for one-click export of visualizations to popular presentation formats like PNG & PDF to simplify reporting.</p>
        </div>
        <div class="capability-container">
            <h3>Predictive Analytics & Early Warning</h3>
            <p>Receive alerts on your phone or in your inbox when a situation needs your attention. These alerts notify you of new references to potential problems that match the questions important to your organization. By the time problems are obvious, it's too late to act, our products give you a real-time advantage.</p>
        </div>
        <div class="capability-container">
            <h3>Analyze & Monitor Media</h3>
            <p>The D8A Stack algorithmically discovers, qualifies, categorizes, and alerts clients to relevant bits of information in real-time. Sifting through large amounts of data can be time-consuming and laborious, let our algorithms go to work for you, butting your big data problems down to size. </p>
        </div>
		<div class="capability-container">
            <h3>Big Data Made Easy</h3>
            <p>Big data solutions are notorious for being hard to understand and use. This isn't good because it means you now need to spend time and money retraining your teams. With D8A's products, data analysis is drag and drop easy!</p>
        </div>
{#        <div class="capability-details-container">#}
{#            <div class="capability-details-message">#}
{#                <h2>Introduction to capabilities: slogan</h2>#}
{#                <p>Introduction to capabilities body!</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p><i class="icon-caret-left"></i> Click any of our capability to find out more</p>#}
{#            </div>#}
{#            {% include 'd8a/capabilities/_all_capabilities.html' %}#}
{#        </div>#}
{#        <ul class="capability-list inline">#}
{#            {% with 'thumbnail' as context %}#}
{#                {% include 'd8a/capabilities/_all_capabilities.html' %}#}
{#            {% endwith %}#}
{#        </ul>#}
    </div>

{% endblock %}