{% extends 'd8a/base.html' %}

{% block page_title %}D8A - Capabilities{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='capabilities' %}

    <div class="container capabilities">
        <div class="capability-container">
            <h3>Data Analysis and Visualization</h3>
            <p>We take data and make it beautiful, understandable, and actionable.</p>
        </div>
        <div class="capability-container">
            <h3>Predictive Analytics</h3>
            <p>We excel at crafting innovative approaches to the way people work with populations, to understand and explore the data they generate.</p>
        </div>
        <div class="capability-container">
            <h3>Social Media Monitoring</h3>
            <p>We are especially skilled in data driven design projects, helping organizations to make sense of the global conversation taking place on Twitter, Facebook, Pinterest and others.</p>
        </div>
		<div class="capability-container">
            <h3>Big Data</h3>
            <p>Our products can scale to handle terabytes of data in real-time.</p>
        </div>
{#        <div class="capability-details-container">#}
{#            <div class="capability-details-message">#}
{#                <h2>Introduction to capabilities: slogan</h2>#}
{#                <p>Introduction to capabilities body!</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p><i class="icon-caret-left"></i> Click any of our capability to find out more</p>#}
{#            </div>#}
{#            {% include 'd8a/capabilities/_all_capabilities.html' %}#}
{#        </div>#}
{#        <ul class="capability-list inline">#}
{#            {% with 'thumbnail' as context %}#}
{#                {% include 'd8a/capabilities/_all_capabilities.html' %}#}
{#            {% endwith %}#}
{#        </ul>#}
    </div>

{% endblock %}