{% extends 'd8a/base.html' %}

{% block page_title %}D8A - Capabilities{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='capabilities' %}

    <div class="container capabilities">
        <div class="capability-container">
            <h3>Public Safety & Early Warning Systems</h3>
            <p>For nearly a decade our team has been international leaders in developing and deploying solutions for emergency preparedness and response. We've applied the sum of our expertise in those fields to create new solutions that take the terabytes of information being created daily and turning it into a proprietary way to anticipate probable scenarios. This enables Public Safety and Law Enforcement officials to react with a <em>real-time advantage</em>, make better decisions, and  waste less of their scarce resources.</p>
        </div>
        <div class="capability-container">
            <h3>Cities & Municipal Utilities</h3>
            <p>What if you could see the pulse of the city? What if every shift in public opinion, every breaking scandal, and every utility failure could be responded to before it became widespread? With DA8's dashboards, municipal workers can make use of big data in the easiest ways possible.</p>
        </div>
        <div class="capability-container">
            <h3>Finance</h3>
            <p>Those working in finance have always been experts at using the information and news at their disposal to give them every advantage when it comes to making deals. The problem is it's time consuming and inefficient. D8A's products channel torrents of information feeds into streams of only the most highly relevant discoveries. All delivered in the form of easy to read visual displays.</p>
        </div>	
		<div class="capability-container">
            <h3>Energy</h3>
            <p>We're also hard at work on products for energy service providers. If you're interested in becoming an early user of our solutions in this space, email us at info@d8a.com</p>
        </div>
<h3><em>How we help our customers...</em></h3>	
        <div class="capability-container">
		<img src="/static/images/d8a/solutions/1.jpg" />
            <h3>Predictive Analytics & Early Warning Alerts</h3>
            <p>Receive alerts on your phone or in your inbox when a situation needs your attention. These alerts notify you of new references to potential problems that match the questions important to your organization. By the time problems are obvious, it's too late to act, our products give you a real-time advantage.</p>
        </div>
        <div class="capability-container">
            <h3>Data Analysis & Visualization</h3>
            <p>Let your data tell the beautiful stories within through visualization. Our allow for one-click export of visualizations to popular presentation formats like PNG & PDF to simplify reporting.</p>
        </div>
        <div class="capability-container">
            <h3>Analyze & Monitor Media</h3>
            <p>The D8A Stack algorithmically discovers, qualifies, categorizes, and alerts clients to relevant bits of information in real-time. Sifting through large amounts of data can be time-consuming and laborious, let our algorithms go to work for you, butting your big data problems down to size. </p>
        </div>
		<div class="capability-container">
            <h3>Big Data Made Easy</h3>
            <p>Big data solutions are notorious for being hard to understand and use. This isn't good because it means you now need to spend time and money retraining your teams. With D8A's products, data analysis is drag and drop easy!</p>
        </div>
{#        <div class="capability-details-container">#}
{#            <div class="capability-details-message">#}
{#                <h2>Introduction to capabilities: slogan</h2>#}
{#                <p>Introduction to capabilities body!</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p>Sed volutpat laoreet ornare. Donec hendrerit rhoncus turpis ut pulvinar. Ut risus turpis, eleifend vel massa ac, suscipit adipiscing tortor. Nunc ut porttitor nisl. Maecenas turpis arcu, tristique at erat ac, semper condimentum nibh. Quisque blandit fringilla rhoncus. Nam sollicitudin interdum purus eget dignissim. Ut tristique ultricies ipsum at euismod.</p>#}
{#                <p><i class="icon-caret-left"></i> Click any of our capability to find out more</p>#}
{#            </div>#}
{#            {% include 'd8a/capabilities/_all_capabilities.html' %}#}
{#        </div>#}
{#        <ul class="capability-list inline">#}
{#            {% with 'thumbnail' as context %}#}
{#                {% include 'd8a/capabilities/_all_capabilities.html' %}#}
{#            {% endwith %}#}
{#        </ul>#}
    </div>

{% endblock %}