{% extends 'd8a/base.html' %}

{% block page_title %}D8A | Impact{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='initiatives' %}

    <div class="container capabilities">
        <h1>Impact Initiatives We Contribute To</h1>
		<p>Part of our corporate mission is to contribute to initiatives that we feel make the world a better place.  Here are some of the initiatives our team contributes to as part of our investment in social impact & philanthropy.</p>
		<p>Over the years, our team at <strong>D8A Impact</strong> has established an expert team of technical innovators with a particular focus on design, social media analytics, and big data. We are best known for the products and initiatives we've established but we support a number of philanthropic partnerships. For this work, we maintain strong alliances with partners such as the U.S. Department of State, The World Bank, Microsoft, Intel, The Knight Foundation, Grand Challenges Canada, Lions@Africa, TED Global, IDEO, and British Airways, and the International Institute of Education, just to name a few.</p>
		<div class="capability-container">
			<h3>Impact Investment</h3>
			<p><strong>Appfrica</strong> is expanding Africa's technology ecosystem by helping global technology companies enter African markets with commercial products and vice-versa, helping African entrepreneurs establish a footprint in global markets. <a href="http://appfrica.com">Visit Appfrica.com</a></p>
            <p><strong>Apps4Africa</strong> is a unique acceleration program designed to discover, fund, and help scale Africa's brightest startup companies and social enterprises. <a href="http://apps4africa.org">Visit Apps4Africa.org</a></p>
        </div>
        <div class="capability-container">
            <h3>Mentoring Entrepreneurs</h3>
			<p><strong>HiveColab</strong> is a co-working space and innovation established in Kampala, Uganda to be a place for creatives, tech entrepreneurs, students, and organizations to share ideas and learn from one another. <a href="http://hivecolab.com" title="hivecolab uganda">Visit HiveColab.com</a></p>
        </div>
		<div class="capability-container">
            <h3><a href="http://abayima.com" title="abayima crisis communications">Humanitarian and Crisis Response</a></h3>
            <p><strong>OpenSIM Kit</strong> was established to create and share digital communication technologies that are not dependent upon mobile carriers or ISPs for use. <a href="http://abayima.com">Visit Abayima.com</a></p>
        </div>
	</div>

{% endblock %}