<div id="nav-projects">
    <div class="container">
        <ul class="inline pull-right">
            <li class="pull-right {% if current_page == 'clients' %}active{% endif %} last">
                <a href="/clients">
                    Customers
                </a>
            </li>
            <li class="pull-right {% if current_page == 'projects' %}active{% endif %}">
                <a href="/projects">
                    Projects
                </a>
            </li>
        </ul>
    </div>
</div>