{% extends 'd8a/base.html' %}

{% block page_title %}D8A.COM | Technologies{% endblock %}
{% block page_description %}We take ownership of challenges and deliver ground breaking solutions{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='products' %}

    <div class="container product">
        <h1>THE D8A STACK</h1>
        <div class="product-details-container">
            <div class="product-details-message">
                <h2>Data Driven Solutions for Human Problems  </h2>
                <p>D8A Group [formerly <a href="http://metalayer.com">MetaLayer</a>] makes products that transform Twitter and other social data streams into actionable insights, helping clients in public safety, crime prevention, and finance make more informed, critical real-time decisions.</p>
				<p>Our suite of predictive analytic products lets users see patterns in online behavior and match it to offline events. Our proprietary algorithms instantly scan hundreds of millions of online activities to provide the earliest alerts about what's happening (and what may happen soon). This helps users anticipate where, when, and what people need in real-time.</p>

	<p><i class="icon-caret-left"></i> Click on any of the products below to learn more about the D8A Stack! Many of our solutions are open source, you can <a href="http://github.com/d8agroup">find them on GitHub</a>.</p>
            </div>
            {% include 'd8a/products/_all_products.html' %}
        </div>
        <ul class="product-list inline">
            {% with 'thumbnail' as context %}
			{% include 'd8a/products/metalayer.html' %}
			{% include 'd8a/products/globe.html' %}
			{% include 'd8a/products/odc.html' %}
			{% include 'd8a/products/mux.html' %}
			{% include 'd8a/products/opensource.html' %}
			{% include 'd8a/products/siftdeck.html' %}
			{% include 'd8a/products/upstream.html' %}
            {% endwith %}
        </ul>
    </div>

{% endblock %}