{% extends 'd8a/base.html' %}

{% block page_title %}D8A - Data Solutions{% endblock %}
{% block page_description %}We understand the power and beauty of data{% endblock %}

{% block body %}
    {% include 'd8a/nav_main.html' with current_page='solutions' %}

    <div class="container solutions">
        <p><iframe src="https://docs.google.com/forms/d/1NNN9aMNr6Xexz4mtdJR6KuqMoeuzjc9fMYVArpLN3zc/viewform?embedded=true" width="760" height="1250" frameborder="0" marginheight="0" marginwidth="0">Wait for it...</iframe></p>

    </div>

{% endblock %}