<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Mission HTML - Recent News Single Post</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
        <link rel="stylesheet" href="stylesheets/btn.css">
                <link rel="stylesheet" href="stylesheets/bootstrap.css">
        <link rel="stylesheet" href="stylesheets/flexslider.css">
        <link rel="stylesheet" href="stylesheets/superfish.css">       
           <link rel="stylesheet" href="font/css/fontello.css">
    <link rel="stylesheet" href="stylesheets/color.css">


                 <link rel="stylesheet" href="font/css/fontello-ie7.css">

           

<link rel="stylesheet" type="text/css" href="plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/helpers/jquery.fancybox-thumbs.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugin/fancybox/helpers/jquery.fancybox-buttons.css" media="screen" />




           <!--[if IE 7]>
    <link rel="stylesheet" href="font/css/fontello-ie7.css"><![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body class="body-dark">
    
    <div id="topbar">
        
        <div class="container clearfix">
          
            <div class="sixteen columns">
                
                  
            <nav class="mainNav">

                <ul class="nav clearfix sf-menu sf-js-enabled sf-shadow">

                    <li><a class="home" href="index.html"><i class="icon-home"></i><span>Home</span></a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="causes.html">Our Causes</a>
                    
                        <ul>
                            
                            <li><a href="causes.html">Our Causes + Sidebar</a></li>
                            <li><a href="causes-full.html">Our Causes Full Width</a></li>
                            <li><a href="causes-single.html">Our Causes Single + Sidebar</a></li>
                             <li><a href="causes-single-full.html">Our Causes Single Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    <li><a href="events.html">Events</a>
                    
                        <ul>
                            
                            <li><a href="events.html">Events + Sidebar</a></li>
                            <li><a href="events-full.html">Events Full Width</a></li>
                            <li><a href="events-single.html">Events Single + Sidebar</a></li>
                             <li><a href="events-single-full.html">Events Single Full Width</a></li>
                            
                        </ul>
                        
                    </li>
                    <li><a class="active" href="news.html">News</a>
                    
                     <ul>
                            
                            <li><a href="news.html">News + Sidebar</a></li>
                            <li><a href="news-full.html">News Full Width</a></li>
                            <li><a class="active" href="news-single.html">News Single + Sidebar</a></li>
                             <li><a href="news-single-full.html">News Single Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    <li><a href="directors.html">Directors</a>
                    
                        <ul>
                            
                            <li><a href="directors.html">Directors + Sidebar</a></li>
                            <li><a href="directors-full.html">Directors Full Width</a></li>
                            
                        </ul>
                    
                    </li>
                    
                    <li><a href="#">Elements</a>
                    
                            <ul>
                        
                                <li><a href="about.html">Page With Sidebar</a></li>
                               <li><a href="about-full.html">Full Width Page</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="modal.html">Modal & Alerts</a></li>
                                <li><a href="accordion.html">Accordion & Tabs</a></li>
                                <li><a href="typography.html">Typography</a></li>
                        
                        </ul>
                        
                    </li>

                </ul>
   
            </nav>
                
            <nav class="secondaryNav">
                
                
                    <div class="container mobileNav">
                        
                    <div class="sixteen columns mobileNavWrapper"></div>
                    
                </div>
                
                    <ul>
                    
                        <li class="donate"><a href="causes.html"><i class="icon-plus-circled"></i>donate</a></li>
                        <li class="mail"><a href="contact.html"><i class="icon-mail"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
                         <li class="search"><a href="#"><i class="icon-search"></i><i class="icon-cancel"></i></a></li>

                </ul>
                
                  <div class="topBarSearch clearfix">
                    
                    <form method="get" id="searchform">
        <!-- Search Feature -->
     <input type="text" value="" name="s" id="s" placeholder="Enter Keywords ...">
     <input type="submit" class="button-small-theme" id="searchsubmit" value="Go">
    
      </form>
                    
                </div>
                
            </nav>
                
            </div>
            
        </div>
        
    </div>
    
    <header style="background: url(images/pages/4.jpg) top center no-repeat;">
        
        <div class="container">
            
            <div class="sixteen columns">
                
                <a href="index.html"><img src="images/logo.png" alt="" /></a>
                
            </div>
            
        </div>
        
    </header>
    
    <div class="pageContent single">
        
        <div class="container">
            
            <div class="nine columns offset-by-one">
                
                
                    <ul>
                            <li class="dd_news_post">
                        
                        <div class="postTitleWithImage clearfix">
                            
                            <a href="#"><img src="images/blog/1.jpg" alt="" /></a>
                        
                        <h1><a href="#">Adding A Personal Touch To Your Web Design</a></h1>
                            
                        </div>
                        
                           <ul class="metaBtn clearfix">
                                    
                                    <li><a href="#"><span>BY</span> DANY DUCHAINE</a></li>
                                    <li><a href="#"><span>ON</span> NOVEMBER 21st 2012</a></li>
                                        
                                </ul>
                        
                        <p>Sed varius lorem eros. Donec imperdiet nibh varius purus imperdiet aliquet. Integer sed est ut eros consequat pellentesque eleifend non lorem.</p>
                        <p>Quisque eu eros neque. Sed condimentum rhoncus accumsan. Fusce et nunc neque. Proin dictum nunc vel nibh faucibus nec tincidunt ante feugiat. Vivamus et felis id elit tempor suscipit id quis ligula. Nulla ullamcorper mattis mattis. Aliquam in libero in dolor luctus lobortis ac ac neque. Mauris imperdiet, mauris in egestas mollis, leo lacus venenatis nibh, ac molestie eros justo pulvinar est. Quisque dapibus nunc eget urna molestie lobortis. Nam fringilla porta est, eu dictum sapien mollis quis. Suspendisse potenti. Nulla aliquam tortor vel nisi scelerisque adipiscing. Donec dapibus ultrices dui, eu posuere elit tristique ac. Etiam ultricies diam sit amet mauris venenatis dapibus. Proin dapibus tincidunt lacinia.</p>
                        <p>Vestibulum mollis convallis laoreet. Sed vestibulum lacus non tellus tristique vestibulum molestie elit elementum. Integer posuere ultrices urna, ac scelerisque enim scelerisque eu. Nam purus orci, consectetur posuere tincidunt sed, euismod eu lorem. Donec accumsan lobortis mauris, non porta nisl gravida nec. Cras et massa tellus. Praesent eget odio vitae nisl consectetur malesuada.</p>
                      
                    </li>
                    
                    <li id="comments">
						<h4>28 Comments for : It’s Not All Doom And Gloom On The Web</h4>
						<div class="comment">
							<div class="avatar">
								<img src="images/avatar-large.png" alt="Avatar" />
							</div>
							<div class="text">
								<h5>Dany Duchaine says:</h5>
								<p class="meta">June 14th, 2011 at 3:51 pm - <a href="#" class="reply">Reply</a></p>
								<p>Oh, I'm in no condition to drive. Wait a minute. I don't have to listen to myself. I'm drunk. I'm going to the back seat of my car, with the woman I love, and I won't be back.</p>
								<p>Morbo can't understand his teleprompter because he forgot how you say that letter that's shaped like a man wearing a hat. Morbo will now introduce tonight's candidates...</p>
							</div>
						</div>
						<div class="children">
							<div class="comment-inner">
								<div class="avatar">
									<img src="images/avatar-large.png" alt="Avatar" />
								</div>
								<div class="text">
									<h5>Dany Duchaine says:</h5>
									<p class="meta">June 14th, 2011 at 3:51 pm - <a href="#" class="reply">Reply</a></p>
									<p>What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like...suicide.</p>
								</div>
							</div>
							<div class="children">
								<div class="comment-inner-inner last nochildren">
									<div class="avatar">
										<img src="images/avatar-large.png" alt="Avatar" />
									</div>
									<div class="text">
										<h5>Dany Duchaine says:</h5>
										<p class="meta">June 14th, 2011 at 3:51 pm - <a href="#" class="reply">Reply</a></p>
										<p>What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like...suicide.</p>
									</div>
								</div>
							</div>
							<div class="comment-inner last nochildren">
								<div class="avatar">
									<img src="images/avatar-large.png" alt="Avatar" />
								</div>
								<div class="text">
									<h5>Dany Duchaine says:</h5>
									<p class="meta">June 14th, 2011 at 3:51 pm - <a href="#" class="reply">Reply</a></p>
									<p>What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like...suicide.</p>
								</div>
							</div>
						</div>
						<div class="comment last nochildren">
							<div class="avatar">
								<img src="images/avatar-large.png" alt="Avatar" />
							</div>
							<div class="text">
								<h5>Dany Duchaine says:</h5>
								<p class="meta">June 14th, 2011 at 3:51 pm - <a href="#" class="reply">Reply</a></p>
								<p>Oh, I'm in no condition to drive. Wait a minute. I don't have to listen to myself. I'm drunk. I'm going to the back seat of my car, with the woman I love, and I won't be back.</p>
								<p>Morbo can't understand his teleprompter because he forgot how you say that letter that's shaped like a man wearing a hat. Morbo will now introduce tonight's candidates...</p>
							</div>
						</div>
					</li><!-- //comments -->
					<li id="leave-comment">
						<h4>Got something to say? Leave a comment!</h4>
						<form class="comment-form" method="post" action="#">
							<p><label for="name">Name <span>*</span></label>
								<input type="text" name="name" id="name" /></p>
							<p><label for="email">Email <span>*</span></label>
								<input type="text" name="email" id="email" /></p>
							<p><label for="website">Website</label>
									<input type="text" name="website" id="website" /></p>
							<p><label for="comment">Message <span>*</span></label>
								<textarea name="comment" id="comment"></textarea></p>
                                                        <p><a style="padding-top: 10px; padding-bottom: 9px;" class="button-big button-small-theme rounded3" href="#">SUBMIT YOUR COMMENT</a></p>
						</form>
					</li><!-- //leave-comment -->   

                </ul>    

            </div>
            
            <ul class="sidebar four columns offset-by-one clearfix">
                
                <li class="widget">
            
                    <div class="widget_text">
                        
                        <h3>TEXT WIDGET</h3>			
                        <div class="textwidget">
                            
                            <p>Nam non diam id risus pulvinar sagittis. Quisque scelerisque, ligula quis molestie feugiat, mi velit <a href="#">pellentesque magna</a>, ut eleifend eros leo ac eros. <em>tempor erat, in rutrum</em> velit urna vehicula ullamcorper.</p>
                        </div>
                        
		</div>
                    
                </li>
                
                <li class="widget">
                    
                     <div class="dd_causes_widget clearfix">
                
                <h3>LATEST CAUSES<span><a href="causes.html">VIEW ALL &rarr;</a></span></h3>
                    
                <ul class="clearfix">
                    
                    <li>
                        
                        <a href="#"><img src="images/causes/1.jpg" alt="" /></a>
                        <ul>
                            
                            <li><h2><a href="#">Animal Welfare Institute</a></h2></li> 
                            <li><a href="#">MORE DETAILS</a></li> 
                                
                        </ul>
                        
                    </li>
                                  
                    <li>
                        
                          <a href="#"><img src="images/causes/3.jpg" alt="" /></a>
                        
                           <ul>
                            
                            <li><h2><a href="#">CHILD SPONSORSHIP</a></h2></li> 
                            <li><a href="#">MORE DETAILS</a></li> 
                                
                        </ul>
                          
                    </li>               
                        
                </ul>
                    
            </div>
                    
                </li>

            </ul>
            
        </div>
        
    </div>
    
    <footer>
        
        <div class="container">
            
            <div class="one-third column">
                
                <a href="index.html"><img style="margin-bottom: 20px;" src="images/footerLogo.png" alt="" /></a>
                <p>While the exact location isn’t explicitely listed, further digging reveals that its first retail stores in Turkey and Brazil will be.</p>
                                
            </div>
            
            <div class="one-third column">
                
                <h3>FROM FLICKR</h3>
                
                    <ul class="flickrImg">
                    
                        <li><a href="#"><img src="images/flickr/1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/flickr/8.jpg" alt="" /></a></li>
                    
                </ul>
                
            </div>
            
            <div class="one-third column">
                
                <h3>informations</h3>
                
                    <ul class="informations">
                      
                        <li><h3>ADRESS</h3><span>5841 Bd Henri Bourassa, Montréal-Nord, QC <br>H1G 2V1</span></li>
                        <li><h3>TELEPHONE</h3><span>(800) 412 0923</span></li>
                        <li><h3>E-MAIL</h3><span><a href="#">info@missiontheme.com</a></span></li>
                      
                </ul>
                
            </div>
            
        </div>
        
    </footer>
    
    <div class="smallFooter">
        
        <div class="container clearfix">
      
            <div class="sixteen columns">
                
                                   
        <ul class="smallFooterLeft">
                    
                        <li class="donate"><a href="causes.html"><i class="icon-plus-circled"></i>donate</a></li>
                        <li class="mail"><a href="#"><i class="icon-mail"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
         

                </ul>
        
        <div class="smallFooterRight">
            
            <span>COPYRIGHT ©MISSION 2012. ALL RIGHTS RESERVED.</span>
            
        </div>
                
            </div>
            
        </div>
        
    </div>
    
<!-- include jQuery -->
<script src="javascript/jquery-1.8.0.min.js"></script>
<!-- Include the plug-in -->
<script src="javascript/script.js"></script>
<script src="javascript/bootstrap.js"></script>
<script src="javascript/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="javascript/superfish.js"></script>
<script type="text/javascript" src="javascript/hoverIntent.js"></script>


<!-- jQuery PORTFOLIO   -->
	<script type="text/javascript" src="plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="plugin/js/jquery.themepunch.megafoliopro.min.js"></script>
    
 <!-- Add fancyBox -->

	<script type="text/javascript" src="plugin/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->

	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>


	<script type="text/javascript" src="plugin/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        

</body>
</html>