{% extends 'apps4africa/base.html' %}

{% block page_title %}The Appfrica Fund | Investing in African Tech{% endblock %}
{% block additional_meta_description %}Appfrica invests in the African continent's growing tech sector.{% endblock %}
{% block additional_meta_keywords %}africa, startup, accelerator, entrepreneur, vc, capital, technology{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
    {% include 'apps4africa/shared/internal_nav.html' %}
    <div id="breadcrumb"><a href="/home">Home</a> &raquo; <a href="/about">About</a></div>
	<h4>About The Appfrica Fund</h4>
    <p>The Appfrica Fund is designed to discover, fund, and help scale Africa's brightest startup companies and social enterprises. We offer up $10,000 in funding and other resources under favorable terms. Our program is Pan-African, servicing innovators from across the African continent.</p>
	<h4>How We're Doing</h4>	
	<p>To date we've funded over 20 ventures, across 16 Sub-Saharan countries. While our own contributions are small, we've been able to help each company raise (on average) over $90,000 in follow-on funding for a total of nearly $1 million for the portfolio. Often either we or our partners play a direct role in helping our participants get additional funding, other times its through their own hard-work and hustle. One thing remains constant, we're always thrilled to play the supporting role in their progress.</p>
	<p>Some recent happenings across our portfolio: <a href="http://blog.appfrica.com/2013/06/27/a4a2010-winner-icow-launches-partnership-with-safaricom/">iCow Launches Partnership with Safaricom</a>, <a href="http://blog.appfrica.com/2013/06/24/a4a2011-winner-minishop-raises-328000/">Minishop Raises $328,000 USD</a>, <a href="http://blog.appfrica.com/2013/06/21/slicebiz-goes-to-the-g8-innovation-conference/">SliceBiz Goes to the G8 Innovation Conference</a>, <a href="http://farmerline.org/latest-post/preparing-for-sessions-at-socap-2013/">Farmerline Rocks SOCAP 2013</a></p>
	<p><center><img src="/static/images/apps4africa/metrics/wins.png" title="Apps4Africa Stats" width="980px"></center></p>
	
	
</div>
<div id="section_two" class="clearfix fill_width">
	<div class="feature">
        <br />
        <a href="http://eepurl.com/fR3H9" title="newsletter" >
            <img src="/static/images/shared/feature_mailer.png" title="apps4africa newsletter" />
        </a>
    </div>
       <div class="feature">
        <h4>Contact Us<br /><span>We Look Forward to Hearing From You</span></h4>
		<p class="contact">Appfrica<br />
		Philadelphia, PA 19107<br />
		<strong>Email:</strong> <a href="mailto:jon@appfrica.com">jon@appfrica.com</a></p></div>
       <div class="feature">
           {% include 'apps4africa/shared/feature_nav.html' %}
       </div>

   </div>
{% endblock %}
