{% load custom_tags %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/static/images/apps4africa/favicon.ico" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{% block additional_meta_description %}{% endblock %}" />
        <meta name="keywords" content="{% block additional_meta_keywords %}{% endblock %}" />
        <meta name="author" content="metalayer.com" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="stylesheet" href="/static/css/lib/reset.css?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" />
        <link rel="stylesheet" href="/static/css/lib/hacks.css?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" />
        <link rel="stylesheet" href="/static/css/lib/Aristo.css?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" />
        <link rel="stylesheet" href="/static/css/lib/tipped.css?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" />
        <link rel="stylesheet" href="/static/css/lib/base.css?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/apps4africa/style.css?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" />

        <script src="/static/js/lib/jquery.js?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" type="text/javascript"></script>
        <script src="/static/js/lib/jquery.ui.min.js?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" type="text/javascript"></script>
        <script src="/static/js/lib/jquery.corner.js?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" type="text/javascript"></script>
        <script src="/static/js/lib/tipped.js?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" type="text/javascript"></script>
        <script src="/static/js/shared/analytics_google.js?ts={{ settings.DEPLOYMENT_TIMESTAMP }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.button').button();
                $('.corner').corner('5px');
                Tipped.setDefaultSkin('light');
                Tipped.create('.tool_tip');
            })
        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header id="header">
            <div class="inner">
                <div id="header_bar" class="clearfix">
                    <ul id="social_links">
                        <li>Follow:</li>
                        <li>
                            <a href='http://blog.apps4africa.org/feed'
                               target="_blank"
                               title="Our Blog"
                               class="tool_tip analytics_action">
                                <img src="/static/images/shared/icon_rss_small.gif" />
                            </a>
                        </li>
                        <li>
                            <a href='http://twitter.com/apps4africa'
                               target="_blank"
                               title="Twitter"
                               class="tool_tip analytics_action">
                                <img src="/static/images/shared/icon_twitter_small.gif" />
                            </a>
                        </li>
                        <li>
                            <a href='https://www.facebook.com/apps4africa'
                               target="_blank"
                               title="Facebook"
                               class="tool_tip analytics_action">
                                <img src="/static/images/shared/icon_facebook_small.gif" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="header_content">
                    <div class="clearfix fill_width">
                        <a href='/' title="Home">
                            <img src="/static/images/apps4africa/a4alogo.png" id="header-logo" width="300px">
                        </a>
                        <ul id="main_navigation">
                            <li>
                                <a href="/" class="tool_tip {% active request '^/$' %}" title="MetaLayer Home">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/about" class="tool_tip {% active request '^/about$' %}" title="About Our Team">
                                    About
                                </a>
                            </li>
							<li>
                               <a href="/portfolio" class="tool_tip {% active request '^/portfolio$' %}" title="Our Portfolio">
                                    Portfolio
                               </a>
                            </li>
							<li>
                               <a href="http://blog.apps4africa.org" title="The Latest from Apps4Africa">
                                    Blog
                               </a>
                            </li>
                            <li>
                                <a href="/contact" class="tool_tip {% active request '^/contact$' %}" title="Contact Us">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page">
            <div class="inner">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer id="footer">
            <p>&copy; 2009 - 2014 Appfrica. All rights reserved</p>
        </footer>
    </body>
</html>