{% extends 'apps4africa/base.html' %}

{% block page_title %}Apps4Africa.org | Africa's Best Acceleration Program{% endblock %}
{% block additional_meta_description %}Apps4Africa is a competitive funding program for Africa's entrepreneurs and innovators.{% endblock %}
{% block additional_meta_keywords %}africa, apps, development, competition, challenge, accelerator{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
    {% include 'apps4africa/shared/internal_nav.html' %}
    <div id="breadcrumb"><a href="/home">Home</a> &raquo; <a href="/about">About</a> &raquo; <a href="/challenge">Challenges</a></div>
	<p><center><img src="/static/images/apps4africa/tile-1.png"></center></p>
	<h4>Apps4Africa Challenges</h4>
    <p>There are two ways to be accepted into the Apps4Africa Acceleration program, through our <a href="/challenge">Challenges</a> or as an <a href="/eir">Entrepreneur-In-Residence</a> program.</p>
<p>Challenges are coordinated with fiscally sponsoring partners who work with us to shape a competitive funding opportunities for companies that meet specific criteria. This allows them to find the companies that they are best suited to be able to help, while also offering an opportunity for the companies to raise seed capital. The winners of these Challenges are offered participation in the Accelerator as a complimentary part of their prize package.</p>
	
<p>To date we've facilitated the following Challenges:</p>

<p><strong>2010 CIVIC CHALLENGE</strong><br >
Primary Partner: U.S. Department of State<br />
Description: Focus was on solutions that created a better environment for civil society. 3 participants received $25,000 in funding</p>

<p><strong>2011 CLIMATE CHALLENGE</strong><br >
Primary Partner: U.S. Department of State<br />
Description: Focus was on solutions that addressed climate adaptation and agriculture. 9 participants received $75,000 in funding</p>

<p><strong>2012 BUSINESS CHALLENGE</strong><br >
Primary Partners: U.S. Department of State, World Bank<br />
Other Partners: LIONS@Frica, Microsoft, DEMO Africa, Hive Colab, AfriLabs<br />
Description: Focus was on companies that were business centric and solutions that supported business. 3 participants received $30,000 in funding</p>
</p>
</div>
<div id="section_event" class="clearfix fill_width">		
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/francis.png" alt="Francis Onwumere" width="200px"> <br />&nbsp;<br/>
 	<p style="text-align:center;"><strong>Francis Onwumere (2012)</strong><br />Prowork.me<br /></p>
		<p style="text-align:justify;">Prowork makes team collaboration on projects easy.</p>			
	    </div>	
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/senyo.png" alt="SliceBiz" width="200px"> <br />&nbsp;<br/>
	<p style="text-align:center;"><strong>William Senyo (2012)</strong><br />SliceBiz.co</p>	
	<p style="text-align:justify;">Disruptive investment platform providing crowdfunding for startups</p>		
	</div> 
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/su.png" alt="Eliot Pence" width="200px"><br />&nbsp;<br/>
    <p style="text-align:center;"><strong>Su Kahumbu (2010)</strong><br />iCow.co.ke</p>
	<p style="text-align:justify;">iCow is an Agricultural Information Service with a variety of products available as a subscription mobile service to help farmers enhance productivity.</p>			
    </div>
<div id="section_event" class="clearfix fill_width">		
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/addai.png" alt="Emmanuel Addai" width="200px"> <br />&nbsp;<br/>
 	<p style="text-align:center;"><strong>Emmanuel Addai (2011)</strong><br />Farmerline.org<br /></p>
		<p style="text-align:justify;">Improved information access and communication channels for smallholder farmers and agricultural workers.</p>			
	    </div>	
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/attah.png" alt="Alloyisus Attah" width="200px"> <br />&nbsp;<br/>
	<p style="text-align:center;"><strong>Alloyisus Attah (2011)</strong><br />Farmerline.org</p>	
	<p style="text-align:justify;">Improved information access and communication channels for smallholder farmers and agricultural workers.</p>		
	</div> 
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/mutta.png" alt="Eric Mutta" width="200px"><br />&nbsp;<br/>
    <p style="text-align:center;"><strong>Eric Mutta (2011)</strong><br />Minishop/Problem Solved Ltd.</p>
	<p style="text-align:justify;">Minishop is an electronic record-keeping solution for SMEs, which makes it easier to manage a business and access finance.</p>			
    </div>
 </div>
<div id="section_event" class="clearfix fill_width">		
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/titus.png" alt="Titus Mawano" width="200px"> <br />&nbsp;<br/>
 	<p style="text-align:center;"><strong>Titus Mawano (2012)</strong><br />Ffene.com<br /></p>
		<p style="text-align:justify;">Ffene is business management simplified. Ffene offers a reasonably priced software package that helps small and medium businesses run more efficiently, make better decisions, and save money on administrative costs.</p>			
	    </div>	
<!--	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/attah.png" alt="Alloyisus Attah" width="200px"> <br />&nbsp;<br/>
	<p style="text-align:center;"><strong>Alloyisus Attah (2011)</strong><br />Farmerline</p>	
	<p style="text-align:justify;">Improved information access and communication channels for smallholder farmers and agricultural workers.</p>		
	</div> 
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/challenge/mutta.png" alt="Eric Mutta" width="200px"><br />&nbsp;<br/>
    <p style="text-align:center;"><strong>Eric Mutta (2011)</strong><br />Minishop/Problem Solved Ltd.</p>
	<p style="text-align:justify;">Minishop is an electronic record-keeping solution for SMEs, which makes it easier to manage a business and access finance.</p>			
    </div> -->
 </div>
<div id="section_two" class="clearfix fill_width">
	<div class="feature">
        <br />
        <a href="http://eepurl.com/fR3H9" title="newsletter" >
            <img src="/static/images/shared/feature_mailer.png" title="apps4africa newsletter" />
        </a>
    </div>
       <div class="feature">
        <h4>Contact Us<br /><span>We Look Forward to Hearing From You</span></h4>
		<p class="contact">Appfrica + D8A<br />
		705 S. 3rd St. #3<br />
		Philadelphia, PA 19147<br />
		<strong>Phone:</strong> (520) 301-7906<br />
		<strong>Email:</strong> <a href="mailto:info@apps4africa.org">info@apps4africa.org</a></p></div>
       <div class="feature">
           {% include 'apps4africa/shared/feature_nav.html' %}
       </div>

   </div>
{% endblock %}
