{% extends 'apps4africa/base.html' %}

{% block page_title %}The Appfrica Fund | Investing in African Tech{% endblock %}
{% block additional_meta_description %}Appfrica invests in the African continent's growing tech sector.{% endblock %}
{% block additional_meta_keywords %}africa, startup, accelerator, entrepreneur, vc, capital, technology{% endblock %}

{% block body_class %}contact{% endblock %}

{% block content %}
    <div id="contact_us_page">
		<p>&nbsp;</p>
        <p>Our staff look forward to beginning a relationship with Africa's next generation of innovators. If you've got a great idea or have already established your company, let us know what you're up to!</p>
        <div class="contact_us_option corner_5 box_shadow_grey">
            <div class="fill_width clearfix">
                <a href="mailto:info@apps4africa.org"><img src='/static/images/shared/icon_email_large.png' class="image" /></a>
                <div class="text">
                    <h2>Contact us by email</h2>
                    <p><a href="mailto:info@appfrica.com">
                           Click here
                        </a>
                        to contact us via email.
                    </p>
                </div>
            </div>
        </div>
    </div>
	<br />
<p><center><img src="http://appfrica.com/static/html/appfrica/lib/images/newsletter-1.png"></center></p>
{% endblock %}