{% extends 'apps4africa/base.html' %}

{% block page_title %}Apps4Africa.org | Africa's Best Acceleration Program{% endblock %}
{% block additional_meta_description %}Apps4Africa is a competitive funding program for Africa's entrepreneurs and innovators.{% endblock %}
{% block additional_meta_keywords %}africa, apps, development, competition, challenge{% endblock %}

{% block body_class %}contact{% endblock %}

{% block content %}
    <div id="contact_us_page">
		<p>&nbsp;</p>
        <p>Our staff look forward to beginning a relationship with Africa's next generation of innovators. If you've got a great idea or have already established your company, let us know what you're up to!</p>
        <div class="contact_us_option corner_5 box_shadow_grey">
            <div class="fill_width clearfix">
                <a href="mailto:info@apps4africa.org"><img src='/static/images/shared/icon_email_large.png' class="image" /></a>
                <div class="text">
                    <h2>Contact us by email</h2>
                    <p><a href="mailto:info@apps4africa.org">
                           Click here
                        </a>
                        to contact us via email.
                    </p>
                </div>
            </div>
        </div>
    </div>
	<br />
<p><center><img src="/static/images/apps4africa/marieme_jon.jpg"></center></p>
{% endblock %}