{% extends 'apps4africa/base.html' %}

{% block page_title %}The Appfrica Fund | Investing in African Tech{% endblock %}
{% block additional_meta_description %}Appfrica invests in the African continent's growing tech sector.{% endblock %}
{% block additional_meta_keywords %}africa, startup, accelerator, entrepreneur, vc, capital, technology{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div id="section_one" class="clearfix fill_width">

        <div id="floating_promo_box" class="corner">
            <div class="contact_us">
               <a href="http://eepurl.com/fR3H9"><img src="/static/images/apps4africa/contact_button.png" title="Contact Us" ></a><br />
            </div>
        </div>
    </div>
    <div id="section_two" class="clearfix fill_width">
	{% include 'apps4africa/shared/footer_nav.html' %}
    </div>
	<div id="section_five" class="clearfix fill_width">
        <div id="section_five_inner">
            <h4>Partners<br /></h4>
            <ul>
                <li><a href="http://apps4africa.org" target='_blank'><img src='/static/images/apps4africa/logos/appfrica.png' height="90px" title="Apps4Africa Accelerator" class="tool_tip" /></a></li>
                <li><a href="http://www.hivecolab.com" target="_blank" ><img src="/static/images/apps4africa/logos/hive.jpg" height="90px" title="HiveColab Uganda" class="tool_tip" /></a></li>
                <li><a href="http://www.indigotrust.org.uk" target='_blank'><img src='/static/images/apps4africa/logos/indigo.jpg' height="90px" title="IndigoTrust" class="tool_tip" /></a></li>
                <li><a href="http://www.state.gov" target='_blank'><img src='/static/images/apps4africa/logos/state.jpg' height="90px" title="US Department of State" class="tool_tip" /></a></li>
                <li><a href="http://www.ted.com" target='_blank'><img src='/static/images/apps4africa/logos/ted.jpg' height="90px" title="TED" class="tool_tip" /></a></li>
				<li><a href="http://www.afrilabs.com" target='_blank'><img src='/static/images/apps4africa/logos/afrilabs.png' height="90px" title="Afrilabs" class="tool_tip" /></a></li>
				<li><a href="/partners"><img src='/static/images/apps4africa/more.png' height="90px" title="More of Our Parters" class="tool_tip" /></a></li>
            </ul>
        </div>
	</div>	
{% endblock %}