{% extends 'apps4africa/base.html' %}

{% block page_title %}The Appfrica Fund | Investing in African Tech{% endblock %}
{% block additional_meta_description %}Appfrica invests in the African continent's growing tech sector.{% endblock %}
{% block additional_meta_keywords %}africa, startup, accelerator, entrepreneur, vc, capital, technology{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div id="section_one" class="clearfix fill_width">

        <div id="floating_promo_box" class="corner">
            <div class="contact_us">
               <a href="http://eepurl.com/fR3H9"><img src="/static/images/apps4africa/contact_button.png" title="Contact Us" ></a><br />
            </div>
        </div>
    </div>
    <div id="section_two" class="clearfix fill_width">
	{% include 'apps4africa/shared/footer_nav.html' %}
    </div>
	</div>	
{% endblock %}