{% extends 'apps4africa/base.html' %}

{% block page_title %}The Appfrica Fund | Investing in African Tech{% endblock %}
{% block additional_meta_description %}Appfrica invests in the African continent's growing tech sector.{% endblock %}
{% block additional_meta_keywords %}africa, startup, accelerator, entrepreneur, vc, capital, technology{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
    {% include 'apps4africa/shared/internal_nav.html' %}
    <div id="breadcrumb"><a href="/home">Home</a> &raquo; <a href="/about">About</a> &raquo; <a href="/partners">Partners</a></div>
	<h4>Partners</h4>
		<ul>
	<a href="http://apps4africa.org" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/appfrica.png" height="90px" title="Apps4Africa Accelerator" /></a> 
	<a href="http://www.hivecolab.com" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/hive.jpg" height="90px" title="HiveColab Uganda" /></a>
    <a href="http://www.indigotrust.org.uk" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/indigo.jpg" height="90px" title="Apps4Africa Accelerator" /></a>
<a href="http://www.afrilabs.com" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/afrilabs.png" height="90px" title="Afrilabs" /></a>
<a href="http://www.angelfair.net/" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/angelfair.png" height="90px" title="Angel Fair 2013" /></a><br /><br />
	<a href="http://www.meetthelions.org" target='_blank' class="partner_logos"><img src='/static/images/apps4africa/logos/lions.png' height="90px" title="Lions Partnership" class="tool_tip" /></a><br /><br />
    <a href="http://www.state.gov" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/state.jpg" height="90px" title="US Department of State" /></a>
    <a href="http://www.ted.com" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/ted.jpg" height="90px" title="TED" /></a>
	<a href="http://www.vc4africa.com" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/vc4a.jpg" height="90px" title="VC4Africa" /></a>
	<a href="#" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/spot.jpg" height="90px" title="SpotOne Global" /></a>
	<br /><br/>
	<a href="http://demo-africa.com" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/demo-africa.jpg" height="90px" title="DEMO Africa" /></a>
	<a href="http://bidnetwork.com" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/bid.png" height="90px" title="BID Network" /></a> 
	<a href="http://unreasonableinstitute.com" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/unreasonable.png" height="90px" title="Unreasonable Institute" /></a>
	<a href="http://www.infodev.org/" target="_blank" class="partner_logos"><img src="/static/images/apps4africa/logos/infodev.png" height="90px" title="InfoDev" /></a>
		</ul>
</div>
{% endblock %}