{% extends 'apps4africa/base.html' %}

{% block page_title %}The Appfrica Fund | Investing in African Tech{% endblock %}
{% block additional_meta_description %}Appfrica invests in the African continent's growing tech sector.{% endblock %}
{% block additional_meta_keywords %}africa, startup, accelerator, entrepreneur, vc, capital, technology{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
    {% include 'apps4africa/shared/internal_nav.html' %}
    <div id="breadcrumb"><a href="/home">Home</a> &raquo; <a href="/about">About</a> &raquo; <a href="/portfolio">Portfolio</a></div>
	<h4>Our Portfolio</h4>
</div>
<div id="section_event" class="clearfix fill_width">		
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/companies/prowork.png" width="200px"> <br />&nbsp;<br/>
 	<p style="text-align:center;"><strong>Francis Onwumere</strong><br />Prowork.me  (2012-2014)<br /></p>
		<p style="text-align:justify;">Prowork makes team collaboration on projects easier using a web and mobile application.</p>			
	</div>	
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/companies/slizebiz.jpg" width="200px"> <br />&nbsp;<br/>
	<p style="text-align:center;"><strong>William Senyo</strong><br />SliceBiz.co (2012-Present)</p>	
	<p style="text-align:justify;">Disruptive investment platform providing crowd-funding for African startups</p>		
	</div> 
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/companies/icow.png" width="200px"><br />&nbsp;<br/>
    <p style="text-align:center;"><strong>Su Kahumbu</strong><br />iCow.co.ke (2010-Present)</p>
	<p style="text-align:justify;">iCow is an agricultural information service with a variety of products available as a subscription mobile service to help farmers enhance productivity.</p>			
    </div>
</div>
<div id="section_event" class="clearfix fill_width">		
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/companies/farmerline.png" width="200px"> <br />&nbsp;<br/>
	<p style="text-align:center;"><strong>Alloyisus Attah</strong><br />Farmerline.org (2011-Present)</p>	
	<p style="text-align:justify;">Improved information access and communication channels for smallholder farmers and agricultural workers.</p>		
	</div> 
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/companies/minishop.jpg" width="200px"><br />&nbsp;<br/>
    <p style="text-align:center;"><strong>Eric Mutta</strong><br />Minishop/Problem Solved Ltd. (2011-Present)</p>
	<p style="text-align:justify;">Minishop is an electronic record-keeping solution for SMEs, which makes it easier to manage a business and access finance.</p>			
    </div>
	<div class="feature" style="text-align:center;">
	<img src="/static/images/apps4africa/companies/ffene.png" width="200px"> <br />&nbsp;<br/>
 	<p style="text-align:center;"><strong>Titus Mawano</strong><br />Ffene.com (2012-2013)<br /></p>
		<p style="text-align:justify;">Ffene is business management simplified. Ffene offers a reasonably priced software package that helps small and medium businesses run more efficiently.</p>			
	</div>
</div>
<div id="section_event" class="clearfix fill_width">			
		<div class="feature" style="text-align:center;">
		<img src="/static/images/apps4africa/companies/remit.png" width="200px"> <br />&nbsp;<br/>
		<p style="text-align:center;"><strong>Teddy Ruge</strong><br />Remit.ug (2013-Present)</p>	
		<p style="text-align:justify;">Remit.ug aims to disrupt cash transfer services like Western Union and MoneyGram by becoming an alternative payment system for the African diaspora to send remittances to loved ones.</p>		
		</div>
		<div class="feature" style="text-align:center;">
		<img src="/static/images/apps4africa/companies/upstream.png" width="200px"><br />&nbsp;<br/>
	    <p style="text-align:center;"><strong>Eliot Pence</strong><br />Upstream Analytics (2013-2014)</p>
		<p style="text-align:justify;">Upstream Analytics is a revolutionary service that applies data analysis to help multinational companies mitigate SEC compliance regulation risk.</p>			
	    </div> 
		<div class="feature" style="text-align:center;">
		<img src="/static/images/apps4africa/companies/siftdeck.png" width="200px"> <br />&nbsp;<br/>
		<p style="text-align:center;"><strong>Ahmed Maawy</strong><br />SiftDeck (2013-2014)</p>
		<p style="text-align:justify;">SiftDeck aims to connect online conversations with offline assets and people, to help organizations predict potential threats to their interests. Ahmed's other project OpenSIM Kit aims to turn the world's 4 billion feature phones into the equivalent of an e-reader.</p>				
		 </div>
 </div>
<div id="section_event" class="clearfix fill_width">
			<div class="feature" style="text-align:center;">
			<img src="/static/images/apps4africa/companies/rarecustoms.png" width="200px"> <br />&nbsp;<br/>
		 	<p style="text-align:center;"><strong>Cherae Robinson</strong><br />Rare Customs (2014-Present)<br /></p>
				<p style="text-align:justify;">Rare Customs/Taste Makers Africa seeks to revolutionize luxury travel and tourism in Africa.</p>			
			    </div>		
</div>
<div id="section_two" class="clearfix fill_width">
	<div class="feature">
        <br />
        <a href="http://eepurl.com/fR3H9" title="newsletter" >
            <img src="/static/images/shared/feature_mailer.png" title="apps4africa newsletter" />
        </a>
    </div>
       <div class="feature">
        <h4>Contact Us<br /><span>We Look Forward to Hearing From You</span></h4>
		<p class="contact">Appfrica<br />
		Philadelphia, PA 19107<br />
		<strong>Email:</strong> <a href="mailto:jon@appfrica.com">jon@appfrica.com</a></p></div>
       <div class="feature">
           {% include 'apps4africa/shared/feature_nav.html' %}
       </div>

   </div>
{% endblock %}
