{% extends 'apps4africa/base.html' %}

{% block page_title %}Apps4Africa.org | Africa's Best Acceleration Program{% endblock %}
{% block additional_meta_description %}Apps4Africa is a competitive funding program for Africa's entrepreneurs and innovators.{% endblock %}
{% block additional_meta_keywords %}africa, apps, development, competition, challenge{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
    {% include 'apps4africa/shared/internal_nav.html' %}
    <div id="breadcrumb"><a href="/home">Home</a> &raquo; <a href="/about">About</a> &raquo; <a href="/press">Press</a></div>
	<h4>Recent Press</h4>
	<p><a href="http://www.bbc.co.uk/news/technology-21518532">BBC | Apps4Africa winners are announced</a> [February 20th, 2013]<br /> The three winners of the latest Apps4Africa competition are announced on the BBC World Service.</p><br />
	<p><a href="http://allafrica.com/stories/201302201740.html">AllAfrica | Africa: Winners Announced in Apps4Africa 2012 Business Challenge</a> [February 20th, 2013]<br />Three winners were selected for the Apps4Africa 2012 Business Challenge contest, which awards cash prizes and mentoring to innovative African startup companies who develop sustainable technology-based solutions to youth unemployment.</p><br />
	<p><a href="http://globalvoicesonline.org/2013/03/19/tough-skin-and-brains-nigerias-apps4africa-winner-talks-tech-innovation-in-africa/">Global Voices | “Tough Skin and Brains”: Nigeria's Apps4Africa Winner Talks Tech Innovation in Africa</a> [March 19th, 2013]<br /> Nigeria's Prowork was one of three winners of the 2012 Apps4Africa Business Challenge, a competitive funding programme for African innovators, start-ups, and businesses.</p><br />
</div>
{% endblock %}