{% extends 'apps4africa/base.html' %}

{% block page_title %}Apps4Africa.org | Africa's Best Acceleration Program{% endblock %}
{% block additional_meta_description %}Apps4Africa is a competitive funding program for Africa's entrepreneurs and innovators.{% endblock %}
{% block additional_meta_keywords %}africa, apps, development, competition, challenge{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
    {% include 'apps4africa/shared/internal_nav.html' %}
    <div id="breadcrumb"><a href="/home">Home</a> &raquo; <a href="/about">About</a> &raquo; <a href="/press">Press</a></div>
	<h4>About The A4A Acceleration Program</h4>
	<p><strong>How Do I Apply?</strong><br />
There are two ways to be accepted into the Apps4Africa Acceleration program, through our <a href="/challenge">Challenges</a> or our <a href="/eir">Entrepreneur-In-Residence</a> program.</p>
<p><strong>How long does the Accelerator last?</strong><br />
	Once selected, the program goes on indefinitely! That's right, as long as you continue pursuing your work we'll continue to support by offering business development, introductions to other funders in our network, advice, press opportunities and more. Your relationship with us is for life.</p>
	<p><center><img src="/static/images/apps4africa/developer.png"></center></p>
	<p><strong>What happens to the companies that fail?</strong><br />
	When we accept companies into our accelerator, we're accepting the founders as much as we're accepting the idea. Thus, our program is always there for those who can pick themselves up and try again. Some have tried things, failed and started new ventures. We don't mind failure, our program is designed to encourage people to keep trying to start companies, develop solutions, create jobs and build prosperity for Africa. Our doors are always open to keep supporting our entrepreneurs as long as they have a hunger for starting up.</p>
	<p><strong>Who cares about Apps? What about other types of businesses?</strong><br />
		Some people take the phrase 'app' too literally. As we use it, we're not just referring to applications for smart or mobiles. App is short for 'application' which can describe a business process or any use of technology to solve a problem. However, for our companies, technology must always play some role.</p>  
	<p><strong>Why not non-technology businesses?</strong><br />	
		Our vision of change for Africa is the invest in human capital, youth, and future industries. We're not interested in what makes money immediately, we're interested in pushing things forward and the impact on society when someone develops something that changes people's behavior.</p>	
	<h4>About The Challenges</h4>
	<p><strong>Who Can Apply?</strong><br />
	Our acceleration programs are designed to work with startups to help them ramp up quickly so that they find the most sustainable ways of achieving their goals. We work with for-profit technology ventures as well as non-profit social ventures Applicants can apply via one of our annual Challenges with their existing companies or early ideas and concepts. The program is open to any firm registered in continental Africa.</p>
	<p><strong>How do I apply to a Challenge?</strong></p>
	<p>The Apps4Africa accepts candidates once a year. Just visit this website for details on the next challenge. Alternatively, you can join our <a href="http://eepurl.com/fR3H9" title="Apps4Africa Mailinglist" >mailing-list</a>.</p>
	<p><center><img src="/static/images/apps4africa/phone.png"></center></p>	
	<p><strong>How much funding do you offer participants?</strong><br />
	Participants accepted through the Challenges receive $10,000 (U.S. Dollars) as seed capital. For-profit companies receive this as a convertible note. For registered non-profits, we offer the same $10,000 as a grant.</p> <p>The funding is distributed in two tranches based upon performance. Additionally, we offer all participants $10,000 of in-kind support.  This in-kind support includes business development, design, strategic thinking, mentorship, networking opportunities, media opportunities etc. </p> <p>Entrepreneurs-In-Residence receive varying amounts of support based on need.</p>
	<p><strong>What is the selection process?</strong><br />
	The Appfrica staff work with some of the world's finest corporate executives, investors, non-profit leaders and experienced entrepreneurs to make up an annual board of advisors. This board reviews the applicants and chooses the participants based on their experience and the opportunities they see in the market. The board also broadly works to help shape the program's goals for the upcoming year.</p>
	<p><strong>Who sits on this board?</strong><br />
	Board members are selected once a year and are usually announced when the new participants are announced. In addition to our staff (Jon Gosier and Bahiyah Robinson) past board members have included:&nbsp;<br />&nbsp;<br />
	
	2010 Board Members - Ory Okolloh, Emeka Okafor, Joseph Mucheru, Nathan Eagle, Tom Gibian, Anil Dash, Tim O'Reilly, Lynn Roche, Josh Goldstein, Elana Berkowitz<br />
	2011 Board Members - Danielle Lanyard, Salvador Zepeda, Robin Bigio, Teddy Ruge, Soud Hyder, Ousmane Ndiaye, Jeff Fox, Lynn Roche, Marieme Jamme<br />
	2012 Board Members - Liz Ngozi, Teddy Ruge, Nic Haralambous, Tom Genton, Loren Treisman, Marieme Jamme, Brian Laung Aoaeh, Makhatar Diop<br />
	2013 Board Members - To Be Announced<br />
	</p>	
	<p><center><img src="/static/images/apps4africa/point.png"></center></p>	
	<h4>About The A4A Entrepreneur-in-Residence Program</h4>	
	<p><strong>How Do I Apply?</strong><br />
	Generally, EIRs do not apply, we identify individuals working on great opportunities and invite them to participate. If you feel you've got what it takes to be an EIR try to meet members of our team at an upcoming event in Africa or elsewhere, or introduce yourself to a member of one of our portfolio companies -- their recommendation will go a lot farther than an off-the-cuff email. We do read unsolicited emails but we can't guarantee we'll respond.</p>
	<p><strong>How much funding do you offer participants?</strong><br />
	 Entrepreneurs-In-Residence receive varying amounts of support based on need. Sometimes it's significantly more than Challenge winners, sometimes its less. Additionally, we offer all participants $10,000 of in-kind support.  This in-kind support includes business development, design, strategic thinking, mentorship, networking opportunities, media opportunities etc.</p>
	<p>Typically we're more involved with EIRs because they've given up more equity.</p>
</div>
{% endblock %}