{% extends 'apps4africa/base.html' %}

{% block page_title %}Apps4Africa.org | Africa's Best Acceleration Program{% endblock %}
{% block additional_meta_description %}Apps4Africa is a competitive funding program for Africa's entrepreneurs and innovators.{% endblock %}
{% block additional_meta_keywords %}africa, apps, development, competition, challenge{% endblock %}

{% block body_class %}internal{% endblock %}

{% block content %}
<div id="section_one">
    {% include 'apps4africa/shared/internal_nav.html' %}
	<div id="breadcrumb"><a href="/home">Home</a> &raquo; <a href="/about">About</a> &raquo; <a href="/teams">Team</a></div>
	<p>Contact us at <a href="mailto:info@apps4africa.org">info@apps4africa.org</a></p>	
	<p><img src="http://farm4.staticflickr.com/3706/8776805387_d875623602_n.jpg" title="Jon Gosier"></p>
	<p>Jonathan Gosier is the CEO of D8A, Founder of Appfrica, and one of the Co-Founders of the original Apps4Africa program. Since then he has lead the program, working with colleagues to reshape it into one the best platforms for technology entrepreneurs across Africa.</p>
	<p><img src="http://farm9.staticflickr.com/8194/8099667693_8ea8a1e958_n.jpg" title="Bahiyah Robinson"></p>
	<p>Bahiyah Robinson is the Executive Director of Appfrica and Partner at D8A. She handles a number of operational activities related to running the A4A initiative and serves as the primary liaison with our participants.</p>
</div>
{% endblock %}