{% include 'd8a/projects/ted_globe.html' %}
{% include 'd8a/projects/hive.html' %}
{% include 'd8a/projects/geosprocket.html' %}
{% include 'd8a/projects/googletranslate.html' %}
{% include 'd8a/projects/trss.html' %}
{% include 'd8a/projects/rnw_1.html' %}
{% include 'd8a/projects/hfobd.html' %}
{% include 'd8a/projects/wwp.html' %}
{% include 'd8a/projects/houston.html' %}
{% include 'd8a/projects/openseas.html' %}
{% include 'd8a/projects/swiftriver.html' %}
{% include 'd8a/projects/enterpriseweb.html' %}
{% include 'd8a/projects/abayima.html' %}
{% include 'd8a/projects/masas.html' %}
{% include 'd8a/projects/questionbox.html' %}
{% include 'd8a/projects/a4a_1.html' %}